{% extends "base.html" %}

{% block title %}mac_trace{% endblock title %}

{% block extrahead %}
<style>
  .axis path,
  .axis line {
     fill: none;
     stroke: black;
     shape-rendering: crispEdges;
  }

  .axis text {
     font-family: sans-serif;
     font-size: 11px;
  }

  /* 説明窓(div要素)の設定 */
  div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 12px;
    padding: 8px;
    font: 15px sans-serif;
    font-weight: bold; /*太字*/
    color: white; /*文字の色*/
    background: red;
    /*border: solid 1px #aaa;*/
    border-radius: 8px;
    pointer-events: none;
  }

  *.logbox
      {
         border: solid 1px #808080;
         width: 350px;
         height: 115px;
         padding: 0.5em;
         overflow: auto;
         display: inline-block;
         _display: inline;
      }

  *.logbox2
      {
         border: solid 1px #808080;
         width: 700px;
         height: 115px;
         padding: 0.5em;
         overflow: auto;
         display: inline-block;
         _display: inline;
      }
</style>
{% endblock %}

{% block content %}
<h3 id="header" class="page-header"></h3>
<form name="Sample_form" action="Sample.html">
  <!-- <a id="btn_staycircle" onclick="staycircle_opacity()" class="btn btn-default btn-sm"></a> -->
  <a id="btn_coordinate" onclick="coordinate_opacity()" class="btn btn-default btn-sm"></a>
  <a href="javascript:void(0)" id="category_4" onclick="show('4');" class="btn btn-default btn-sm">Floor</a>
  <a href="javascript:void(0)" id="category_2" onclick="show('2');" class="btn btn-default btn-sm">Bookmark</a>
  <a href="javascript:void(0)" id="category_3" onclick="show('3');" class="btn btn-default btn-sm"></a>
  　　<!-- ボタン間にスペースを -->
  <text id="datetime_header"></text>
  <font id="got_datetime" size="4"></font>
  　(<a href="javascript:void(0)" id="category_1" onclick="show('1');"></a>)
  <div id="layer_1" style="display: none;position:relative;margin-left:15pt;margin-top:15pt" class="close">
  <span id="selected_datetime">
  <script type="text/javascript">
    function make_selectbox(list){
      var list_id = {"test":99};
      for (var i = 0; i < list.length; i++) {
        if (list[i] < 60) {
          document.write('<option value="sec'+("0"+list[i]).slice(-2)+'"/>'+list[i]+' '+second_text+'</option>');
        } else if (list[i] < 3600) {
          document.write('<option value="min'+("0"+(list[i]/60)).slice(-2)+'"/>'+(list[i]/60)+' '+minute_text+'</option>');
        } else if (list[i] < 43200) {
          document.write('<option value="hou'+("0"+(list[i]/3600)).slice(-2)+'"/>'+(list[i]/3600)+' '+hour_text2+'</option>');
        } else if (list[i] < 302400) {
          document.write('<option value="day'+("0"+(list[i]/43200)).slice(-2)+'"/>'+(list[i]/43200)+' '+day_text+'</option>');
        };
        list_id[String(list[i])] = i;
      };
      return list_id;
    }

    if ("{{ language }}" == "en") {
      var year_text = "year";
      var month_text = "month";
      var day_text = "date";
      var hour_text = "hour";
      var hour_text2 = "hour";
      var minute_text = "minute";
      var second_text = "second";
    } else {
      var year_text = "年";
      var month_text = "月";
      var day_text = "日";
      var hour_text = "時";
      var hour_text2 = "時間";
      var minute_text = "分";
      var second_text = "秒";
    };

    var year_list = [2014,2015,2016,2017,2018];

    document.write('<select name="textbox_year">');
    for (var i = 0; i < year_list.length; i++) {
      document.write('<option id="year'+year_list[i]+'" value="'+year_list[i]+'"/>'+year_list[i]+' '+year_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_month">');
    for (var i = 0; i < 12; i++) {
      document.write('<option id="month'+("0"+(i+1)).slice(-2)+'" value="'+("0"+(i+1)).slice(-2)+'"/>'+(i+1)+' '+month_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_day">');
    for (var i = 0; i < 31; i++) {
      document.write('<option id="day'+("0"+(i+1)).slice(-2)+'" value="'+("0"+(i+1)).slice(-2)+'"/>'+(i+1)+' '+day_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_hour">');
    for (var i = 0; i < 24; i++) {
      document.write('<option id="hour'+("0"+i).slice(-2)+'" value="'+("0"+i).slice(-2)+'"/>'+i+' '+hour_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_minute">');
    for (var i = 0; i < 60; i++) {
      document.write('<option id="minute'+("0"+i).slice(-2)+'" value="'+("0"+i).slice(-2)+'"/>'+i+' '+minute_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_second">');
    for (var i = 0; i < 6; i++) {
      document.write('<option id="second'+("0"+(i*10)).slice(-2)+'" value="'+("0"+(i*10)).slice(-2)+'"/>'+(i*10)+' '+second_text+'</option>');
    };
    document.write('</select>');

    document.write('<a type="button" id="btn_reload" onclick="Load_Form()" class="btn btn-default btn-sm"></a>');
    document.write('</span>');
    document.write('　　');
    document.write('<span>');

    document.write('<select name="textbox_interval">');
    var interval_list = [10,20,30,60,120,300,600,1200,1800,3600,7200,10800,21600,43200]
    make_selectbox(interval_list);
    document.write('</select>');

    document.write('<a type="button" id="btn_back" onclick="slide_DT(1)" class="btn btn-default btn-sm"></a>');
    document.write('<a type="button" id="btn_forward" onclick="slide_DT(-1)" class="btn btn-default btn-sm"></a>');
    document.write('<a onclick="Auto_Animation()" class="btn btn-default btn-sm" id="btn_Auto">animation</a>');
    document.write('</span>');
    document.write('　　');
    document.write('<span>');

  </script>
  <text id="time_interval_text"></text>
  </span></div>
  <div id="layer_2" style="display: none;position:relative;margin-left:15pt;margin-top:15pt" class="close">
  <div id="bookmark_list" class="logbox"></div>
  <div id="bookmark_add" class="logbox"></div>
  </div>
  <div id="layer_4" style="display: none;position:relative;margin-left:15pt;margin-top:15pt" class="close">
  <div id="floor_list" class="logbox"></div>
  </div>
  <div id="layer_3" style="display: none;position:relative;margin-left:15pt;margin-top:15pt" class="close">
  <div id="filter_list" class="logbox2">
    <text id="macfilter_text"></text><br>
    <input type="text" name="textbox_mac" size="80">
    <input type="button" id="btn_macfilter" onclick="mac_filtering()" class="btn btn-default btn-sm">
    <input type="button" id="btn_macreset" onclick="mac_reset()" class="btn btn-default btn-sm"><br>
    <text id="macfilter_log"></text>
  </div>
  </div>
</form>
<br><!-- ボタンと地図の間にスペースを -->
<?xml version="1.0" standalone="no"?>
<svg id="svg1" width="1024" height="560">
 <image id="map_image" x="0" y="0" width="100%" height="100%" opacity="0.7"></image>
</svg>
<div id="tooltip_div"></div>
<svg id="svg2" width="1000" height="100"></svg>
<br>
<Div Align="right"><a id="difference_language" onclick="change_language()"></a></Div>
<br>

<script type="text/javascript">

    // ヘッダーやその他文字の表示
    if ("{{ language }}" == "en") {
      d3.select("#header").text("People Stream Map");
      // d3.select("#btn_staycircle").text("StayMAC");
      d3.select("#btn_coordinate").text("coordinate");
      d3.select("#category_3").text("Filter");
      d3.select("#macfilter_text").text("MAC Filter :");
      d3.select("#btn_macfilter").attr("value","Filtering");
      d3.select("#btn_macreset").style("color","red").attr("value","Reset Filter");
      d3.select("#datetime_header").text("datetime : ");
      d3.select("#category_1").text("adjust");
      d3.select("#btn_reload").text("Reload");
      d3.select("#btn_back").text("Back");
      d3.select("#btn_forward").text("Forward");
      d3.select("#time_interval_text").text(":Data referenced from ten seconds ago.");
      d3.select("#difference_language").text("日本語");
    } else {
      if (is_experiment({{ experiment }})) {
        d3.select("#header").text("人流マップ(実験用)");
      } else {
        d3.select("#header").text("mac_trace");
      };
      // d3.select("#btn_staycircle").text("滞留");
      d3.select("#btn_coordinate").text("座標");
      d3.select("#category_3").text("フィルタ");
      d3.select("#macfilter_text").text("MACフィルタリング：");
      d3.select("#btn_macfilter").attr("value","フィルタ適用");
      d3.select("#btn_macreset").style("color","red").attr("value","フィルタ無効化");
      d3.select("#datetime_header").text("取得日時：");
      d3.select("#category_1").text("時間調整");
      d3.select("#btn_reload").text("更新");
      d3.select("#btn_back").text("戻る");
      d3.select("#btn_forward").text("進む");
      d3.select("#time_interval_text").text("10秒間の人流データを表示");
      d3.select("#difference_language").text("English");
    };

    // マップ画像の挿入
    if ("{{ floor }}" == "W2-6F") {
      var file_name = "6F_west2.jpg";
    } else if ("{{ floor }}" == "W2-7F"){
      var file_name = "7F_west2.jpg";
    };
    d3.select("#map_image").attr("xlink:href","http://160.16.74.119/~abe/images/"+file_name);

    // データセットの定義
    var pcwlnode = [];
    var bookmarks = [];
    // var dataset = [];
    var mac_data = [];
    {% for s in pcwlnode %}
    pcwlnode.push({pcwl_id:{{ s.pcwl_id }},pos_x:{{ s.pos_x }},pos_y:{{ s.pos_y }},rssi:{{ s.rssi }}});
    {% endfor %}
    {% for s in bookmarks %}
    bookmarks.push({name:"{{ s.name }}",url:"{{ s.url }}"});
    {% endfor %}
    {% for s in mac_data %}
    mac_data.push("{{ s }}");
    {% endfor %}

    // pcwl_idから登録順を求められるように(pcwlnode_id[pcwl_id] = i )
    var pcwlnode_id = [];
    for (var i = 0; i < pcwlnode.length; i++) {
      pcwlnode_id[pcwlnode[i].pcwl_id] = i;
    };

        // 取得時間を表示
    var year = parseInt({{ year }});
    var month = parseInt({{ month }})-1;
    var day = parseInt({{ day }});
    var hour = parseInt({{ hour }});
    var minute = parseInt({{ minute }});
    var second = parseInt({{ second }});
    var datetime = new Date(year,month,day,hour,minute,second);
    set_selectbox(); // セレクトボックスにdatetimeをセット

    // 時間抽出
    var parseDate = d3.time.format("%Y年%m月%d日%H:%M:%S").parse;

    // svgの選択
    var svg1 = d3.select("#svg1")
    var svg2 = d3.select("#svg2")

    // pcwlnodeのマッピング
    var g = svg1.selectAll("g.pcwlnode")
    .data(pcwlnode)
    .enter()
    .append("g")
    .attr({
      "id": function(d){return "g_pcwl_"+d.pcwl_id;},
      transform: function(d) {
        return "translate(" + d.pos_x + "," + d.pos_y + ")";
      },
    })
    // マウスがバーに重なったら説明文を出す
    .on( "mouseover", function(d){
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","purple")
        .style("height", "35px")
        .style("width", "150px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        if ("{{ language }}" == "en") {
          div.text("dbm: "+d.rssi);
        } else {
          div.text("dBm: "+d.rssi);
        };
    })
    // マウスがバーから離れたら説明文をけす
    .on( "mouseout", function(d){
      div.transition().duration(300)
      .style("opacity",0)
    })

    // 滞留端末数によって色が変わる円の描画
    g.append("circle")
    .attr({
      "id": "rssicircle",
      "r": 20,
      "fill": function(d){return thermography(d.rssi);},
    })
    .style("opacity",0)

    // 円の描画
    g.append("circle")
    .attr({
      "id": function(d){return "pcwl_circle"+d.pcwl_id;},
      "r": 0.1,
      "fill": "purple",
    })
    .transition().duration(1000)
    .attr("r", 13);
    // テキストの描画
    g.append("text")
    .attr({
      "id": function(d){return "pcwl_text"+d.pcwl_id;},
      "text-anchor": "middle",
      "dy": ".35em",
      "fill": "white",
    })
    .text(function(d) {
            return d.pcwl_id;
    });

    // マップの座標(目盛り)と温度・照度を追加
    var coordinate_width = 50; // 座標間の幅
    var coordinate = [];
    for (var i = 0; i*coordinate_width < 1024; i++) {
     for (var j = 0; j*coordinate_width < 560; j++) {
      var x = i*coordinate_width;
      var y = j*coordinate_width;
      coordinate.push({x:x, y:y});
     }
   }

  svg1.selectAll("#rssicircle")
  .transition()
  .duration(1000)
  .style("opacity", function(d){
    if (d.rssi != 0) {
      return 0.5;
    }
    else {
      return 0;
    };
  });

    // 座標目盛りの透明度をトグルで切り替える
    var flag_opacity = false;
    function coordinate_opacity(){
        if (flag_opacity) {
          d3.select("#btn_coordinate").style("color","black");
          svg1.select("#g_coordinate")
              .transition()
              .duration(1000)
              .style("opacity",0);
        } else {
          d3.select("#btn_coordinate").style("color","blue");
          svg1.select("#g_coordinate")
              .transition()
              .duration(1000)
              .style("opacity",1);
          };
      flag_opacity = !flag_opacity;
    }

    // 折りたたみ表示
    function show(inputData) {
      var objID=document.getElementById( "layer_" + inputData );
      var buttonID=document.getElementById( "category_" + inputData );
      if (inputData == 1){
        if ("{{ language }}" == "en") {
          var opentext = "adjust";
          var closetext = "hide";
        } else {
          var opentext = "時間調整";
          var closetext = "非表示";
        };
        if(objID.className=='close') {
          objID.style.display='block';
          objID.className='open';
          d3.select("#category_"+inputData).text(closetext);
        }else{
          objID.style.display='none';
          objID.className='close';
          d3.select("#category_"+inputData).text(opentext);
        }
      } else if (inputData == 2){
        if(objID.className=='close') {
          objID.style.display='block';
          objID.className='open';
          d3.select("#category_2").style("color","blue");
        }else{
          objID.style.display='none';
          objID.className='close';
          d3.select("#category_2").style("color","black");
        }
      } else if (inputData == 3){
        if(objID.className=='close') {
          objID.style.display='block';
          objID.className='open';
          d3.select("#category_3").style("color","blue");
        }else{
          objID.style.display='none';
          objID.className='close';
          d3.select("#category_3").style("color","black");
        }
      } else if (inputData == 4){
        if(objID.className=='close') {
          objID.style.display='block';
          objID.className='open';
          d3.select("#category_4").style("color","blue");
        }else{
          objID.style.display='none';
          objID.className='close';
          d3.select("#category_4").style("color","black");
        }
      }
    }
    // // Floor関係の描画
    var floor_list = ["W2-6F","W2-7F"];
    for (var i = 0; i < floor_list.length; i++) {
      add_floor_list(floor_list[i]);
    };
    if (floor_list.length < 4) {
      add_space_floor(4 - floor_list.length);
    };
    function add_floor_list(floor_name){ // 1つのフロアを表に書き足す
      floor = floor_name;
      var url = "{% url 'pfv:mac_trace' %}"+make_url_query();
      d3.select("#floor_list").append("p")
      .append("a")
      .text(floor_name+" ")
      .attr("href",url);
    }
    function add_space_floor(num){ // 表を整えるためにスペースを作る
      var book = d3.select("#floor_list");
      for (var i = 0; i < num; i++) {
        book.append("p").attr("id","space").text("_"); // 間隔調整
      };
    }
    var floor = "{{ floor }}";

    // ブックマーク関係の描画
    for (var i = 0; i < bookmarks.length; i++) {
      add_bookmark_list(bookmarks[i]);
    };
    if (bookmarks.length < 4) {
      add_space(4 - bookmarks.length);
    };
    var book = d3.select("#bookmark_add");
    if ("{{ language }}" == "en") {
      book.append("p").text("Add new Bookmark:");
    } else {
      book.append("p").text("新規ブックマーク追加：");
    };
    book.append("input")
    .attr({
      "type":"text",
      "name":"textbox_new_bookmark_name",
      "size":"30",
    });
    book.append("input")
    .attr({
      "type":"button",
      "value": function(){
        if ("{{ language }}" == "en") {
          return "Add";
        } else {
          return "追加";
        }
      },
      "onclick":"add_new_bookmark()",
      "class":"btn btn-default btn-sm",
    })
    book.append("p"); // 間隔調整
    if ("{{ language }}" == "en") {
      book.append("p").append("a").style("color","red")
      .attr("onclick","all_bookmark_delete()").text("All Bookmarks delete");
    } else {
      book.append("p").append("a").style("color","red")
      .attr("onclick","all_bookmark_delete()").text("全ブックマーク削除");
    };
    book.append("p").text("_"); // 間隔調整

    function add_bookmark_list(json){ // 1つのブックマークを表に書き足す
      var book = d3.select("#bookmark_list").append("p").attr("id",json["name"]);
      book.append("a")
      .text(json["name"]+" ")
      .attr("href",json["url"]);
      if ("{{ language }}" == "en") {
        book.append("a")
        .text("delete")
        .style("color","red")
        .attr("onclick","delete_bookmark('"+json["name"]+"')");
      } else {
        book.append("a")
        .text("削除")
        .style("color","red")
        .attr("onclick","delete_bookmark('"+json["name"]+"')");
      };
    }
    function add_space(num){ // 表を整えるためにスペースを作る
      var book = d3.select("#bookmark_list");
      for (var i = 0; i < num; i++) {
        book.append("p").attr("id","space").text("_"); // 間隔調整
      };
    }

    function add_new_bookmark(){ // テキストボックスを読み取り新規ブックマークの作成
      var name = Sample_form.textbox_new_bookmark_name.value;
      if (name != "") {
        var send_url = make_url_query() + "&add=1&name=" + name;
        $.ajax({
          type: 'GET',
          url: "{% url 'pfv:bookmark_edit' %}"+send_url,
          dataType: 'json',
          success: function(json){
            bookmarks.push(json);
            d3.select("#bookmark_list").selectAll("#space").remove();
            add_bookmark_list(json);
            if (bookmarks.length < 4) {
              add_space(4 - bookmarks.length);
            };
            Sample_form.textbox_new_bookmark_name.value = "";
          }
        });
      };
    }
    function delete_bookmark(name){ // 1つのブックマークを削除する
      if ("{{ language }}" == "en") {
        var alert = 'delete '+name;
      } else {
        var alert = name+'を削除します';
      };
      if(window.confirm(alert)){
        $.ajax({
          type: 'GET',
          url: "{% url 'pfv:bookmark_edit' %}"+"?delete=1&name="+name,
          dataType: 'json',
          success: function(json){
            d3.select("#bookmark_list").select("#"+name).remove();
            d3.select("#bookmark_list").selectAll("#space").remove();
            bookmarks.splice(0, 1);
            if (bookmarks.length < 4) {
              add_space(4 - bookmarks.length);
            };
          }
        });
      }
    }
    function all_bookmark_delete(){ // すべてのブックマークを削除する
      if ("{{ language }}" == "en") {
        var alert1 = 'All Bookmarks will be deleted';
        var alert2 = 'Really OK?';
      } else {
        var alert1 = 'すべてのブックマークを削除します';
        var alert2 = '本当によろしいですか？';
      };
      if(window.confirm(alert1)){
        if (window.confirm(alert2)) {
          $.ajax({
            type: 'GET',
            url: "{% url 'pfv:bookmark_edit' %}"+"?delete=2",
            dataType: 'json',
            success: function(json){
              d3.select("#bookmark_list").selectAll("p").remove();
              bookmarks = [];
              if (bookmarks.length < 4) {
                add_space(4 - bookmarks.length);
              };
            }
          });
        };
      }
    }

    // フィルタ関係の描画
    Sample_form.textbox_mac.value = "{{ mac }}";
    var macfilter_log = d3.select("#macfilter_log").style({
      "color":"gray",
      "font-size":"11px",
    })
    if ("{{ language }}" == "en") {
      macfilter_log.text("When you want to filter plural MACs, please input ',' into MAC to MAC. Example : '20:68:9d:2e:6b:e6,00:24:d6:6e:e3:24'");
    } else {
      macfilter_log.text("複数のMACで抽出したい場合はMAC間に「 , 」を挟んで入力。例：「20:68:9d:2e:6b:e6,00:24:d6:6e:e3:24」");
    };
    function mac_filtering(){
      var mac = Sample_form.textbox_mac.value;
      if ((mac.length % 18) == 17) { // 特定のmacを抽出
        Load_JSON(datetime);
        if ("{{ language }}" == "en") {
          macfilter_log.text("Filtered with query : "+mac);
        } else {
          macfilter_log.text("クエリ「"+mac+"」で抽出しました。");
        };
      } else if (mac.length == 0){ // すべてのmacを表示
        Load_JSON(datetime);
        if ("{{ language }}" == "en") {
          macfilter_log.text("All MACs are displayed.");
        } else {
          macfilter_log.text("全てのMACを表示しました。");
        };
      } else { // 不正なクエリのため検索しない
        if ("{{ language }}" == "en") {
          macfilter_log.text("Your input is wrong. When you want to filter plural MACs, please input ',' into MAC to MAC. Example : '20:68:9d:2e:6b:e6,00:24:d6:6e:e3:24'");
        } else {
          macfilter_log.text("クエリ入力に誤りがあります。複数のMACで抽出したい場合はMAC間に「 , 」を挟んで入力。例：「20:68:9d:2e:6b:e6,00:24:d6:6e:e3:24」");
        };
      };
    }
    function mac_reset(){
      Sample_form.textbox_mac.value = "";
      Load_JSON(datetime);
      if ("{{ language }}" == "en") {
        macfilter_log.text("All MACs are displayed.");
      } else {
        macfilter_log.text("全てのMACを表示しました。");
      };
    }

    // 座標目盛り(円)の生成
    svg1.append("g").attr("id","g_coordinate").style("opacity",0);
    svg1.select("#g_coordinate").selectAll("g.coordinate")
    .data(coordinate)
    .enter()
    .append("circle")
    .attr({
      "cx": function(d) { return d.x;},
      "cy": function(d) { return d.y;},
      "r": 3,
      "fill": "purple",
    })
    // マウスがバーに重なったら説明文を出す
    .on( "mouseover", function(d){
      if (flag_opacity){ // 座標可視状態なら説明を出す
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","purple")
        .style("width", "150px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text("x = " + d.x + " , y = " + d.y)
      }
    })
    // マウスがバーから離れたら説明文をけす
    .on( "mouseout", function(d){
      div.transition().duration(300)
      .style("opacity",0)
    });

    // マウスオーバーすると出てくる説明文(div要素)
    var div = d3.select("#tooltip_div")
    .attr("class","tooltip")
    .style("width", "80px" )
    .style("height", "35px")
    .style("opacity",0)

    // 気温に対応した色を返す(サーモグラフィ風)
    function thermography(tu){
      threshold_H = -60.0; // この温度以上は赤色
      threshold_L = -90.0; // この温度以下は青色
      if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 4.0 / 4.0 ) ) {
        return  "rgb(" + 255 + ", " + 0 + ", " + 0 + ")"; // 赤
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 3.0 / 4.0 ) ) {
        return  "rgb(" + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 0 + ")"; // 黄～赤
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 2.0 / 4.0 ) ) {
        return  "rgb(" + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ", " + 0 + ")"; // 緑～黄
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 1.0 / 4.0 ) ) {
        return  "rgb(" + 0 + ", " + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ")"; // 水～緑
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 0.0 / 4.0 ) ) {
        return  "rgb(" + 0 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ")"; // 青～水
      }else {
        return  "rgb(" + 0 + ", " + 0 + ", " + 255 + ")"; // 青
      }
    }

    // 実験用マップか否か判定
    function is_experiment(num){
      if ((num == 1)||(num == 2)) {
        return true;
      } else {
        return false;
      };
    }

    // 人数参考バーの表示
    // 幅（Width）と高さ（ height）
    var w = 1000;
    var h = 100;
    var padding = 30;
    var max = -55; // 最大表示人数
    var min = -95;

    //スケール関数の生成
    var xScale = d3.scale.linear()
                     .domain([min, max])
                     .range([padding, w - padding *2]);

    // x軸の定義
    var xAxis = d3.svg.axis()  // ここのsvgは変数名じゃない！；；
                  .scale(xScale)
                  .orient("bottom")
                  .ticks(10);  // 大雑把に目盛りの個数を設定
    if ("{{ language }}" == "en") {
      xAxis.tickFormat(function(d) { return d; });
    } else {
      xAxis.tickFormat(function(d) { return d /*+ "人"; */});
    };

    // x軸の生成
    svg2.append("g")
      .attr("class", "axis")  // "axis" クラスを定義
      .attr("transform", "translate(0," + (h - padding) + ")")
      .call(xAxis);

    // 棒グラフの追加
    var temperature = [];
    for (var i = -95; i < max; i++) {
      temperature.push(i);
    };
    svg2.selectAll("rect.temperature")
    .data(temperature)
    .enter()
    .append("rect")
    .attr({
      "x": function(d){ return xScale(d);},
      "y": padding,
      "width": (w - padding*3)/temperature.length,
      "height": h - padding*2 - 10,
      "fill": function(d){ return thermography(d);},
    });

    // 言語切替
    function change_language(){

      var year = datetime.getFullYear();
      var month = ("0"+(datetime.getMonth()+1)).slice(-2);
      var day = ("0"+datetime.getDate()).slice(-2);
      var hour = ("0"+datetime.getHours()).slice(-2);
      var minute = ("0"+datetime.getMinutes()).slice(-2);
      var second = ("0"+datetime.getSeconds()).slice(-2);

      var mac = Sample_form.textbox_mac.value;

      if ("{{ language }}" == "en") {
        var language = "jp";
      } else {
        var language = "en";
      }

      document.location = "{% url 'pfv:mac_trace' %}"+"?datetime=" + year + month + day + hour + minute + second + "&experiment=" + {{ experiment }} + "&mac=" + mac + "&language=" + language;
      // document.location = "{% url 'pfv:mac_trace' %}"+"?datetime=" + year + month + day + hour + minute + second + "&experiment=" + {{ experiment }} + "&mac=" + mac + "&language=" + language + "&floor=" + "{{ floor }}";
    }

    // セレクトボックスの値をdatetimeに合わせる
    function set_selectbox(){
      var year = datetime.getFullYear() - 2014;
      var minute = datetime.getMinutes();
      var second = datetime.getSeconds()/10;
      document.Sample_form.textbox_year.selectedIndex = year;
      document.Sample_form.textbox_month.selectedIndex = datetime.getMonth();
      document.Sample_form.textbox_day.selectedIndex = datetime.getDate()-1;
      document.Sample_form.textbox_hour.selectedIndex = datetime.getHours();
      document.Sample_form.textbox_minute.selectedIndex = minute;
      document.Sample_form.textbox_second.selectedIndex = second;
    }


    // 取得時間を表示
    var year = parseInt({{ year }});
    var month = parseInt({{ month }})-1;
    var day = parseInt({{ day }});
    var hour = parseInt({{ hour }});
    var minute = parseInt({{ minute }});
    var second = parseInt({{ second }});
    var datetime = new Date(year,month,day,hour,minute,second);
    set_selectbox(); // セレクトボックスにdatetimeをセット

    function describe_datetime(){
      if ("{{ language }}" == "en") {
        d3.select("#got_datetime").text(String(datetime).slice(4,24));
      } else {
        d3.select("#got_datetime").text(datetime.getFullYear()+"年"+("0"+(datetime.getMonth()+1)).slice(-2)+"月"+("0"+datetime.getDate()).slice(-2)+"日"+" "+("0"+datetime.getHours()).slice(-2)+":"+("0"+datetime.getMinutes()).slice(-2)+":"+("0"+datetime.getSeconds()).slice(-2));
      }
    }
    describe_datetime();

    // datetime,language,floor,mac,experimentのurlクエリを出力する
    function make_url_query(){
      var year = datetime.getFullYear();
      var month = ("0"+(datetime.getMonth()+1)).slice(-2);
      var day = ("0"+datetime.getDate()).slice(-2);
      var hour = ("0"+datetime.getHours()).slice(-2);
      var minute = ("0"+datetime.getMinutes()).slice(-2);
      var second = ("0"+datetime.getSeconds()).slice(-2);

      var mac = Sample_form.textbox_mac.value;

      var url = "?datetime=" + year + month + day + hour + minute + second + "&experiment=" + {{ experiment }} + "&mac=" + mac + "&language=" + "{{ language }}" + "&floor=" + floor;
      return url;
    }

    /***********************************
                Ajax関係
   ************************************/

   // datetimeに対応したJSONをajaxで読み込む
    function Load_JSON(datetime){
      $.ajax({
        type: 'GET',
        url: "{% url 'pfv:mac_trace_json' %}"+make_url_query(),
        dataType: 'json',
        success: function(json){
          describe_datetime();
          Reload_pfvinfo(json);
        }
      });
    }

    // セレクトボックスの日付のJSONをajaxで読み込む
    function Load_Form(){
      var year = Sample_form.textbox_year.value;
      var month = Sample_form.textbox_month.value;
      var day = Sample_form.textbox_day.value;
      var hour = Sample_form.textbox_hour.value;
      var minute = Sample_form.textbox_minute.value;
      var second = Sample_form.textbox_second.value;
      datetime.setYear(parseInt(year));
      datetime.setMonth(parseInt(month)-1);
      datetime.setDate(parseInt(day));
      datetime.setHours(parseInt(hour));
      datetime.setMinutes(parseInt(minute));
      datetime.setSeconds(parseInt(second));
      Load_JSON(datetime);
    }

    // xx秒戻るor進む
    function slide_DT(s){ // s=1なら戻る,s=-1なら進む
      var value = Sample_form.textbox_interval.value;
      var num = s * parseInt(value.slice(-2));
      if (value.slice(0,3) == "sec"){
        datetime.setSeconds(datetime.getSeconds() - num);
        Load_JSON(datetime);
      } else if (value.slice(0,3) == "min"){
        datetime.setMinutes(datetime.getMinutes() - num);
        Load_JSON(datetime);
      } else if (value.slice(0,3) == "hou") {
        datetime.setHours(datetime.getHours() - num);
        Load_JSON(datetime);
      } else if (value.slice(0,3) == "day") {
        datetime.setDate(datetime.getDate() - num);
        Load_JSON(datetime);
      }
      set_selectbox();
    }

    function Reload_pfvinfo(json){

      //_pcwlnode_with_rssiの更新
      if (json["_pcwlnode_with_rssi"].length >= 1) {
        for (var i = 0; i < pcwlnode.length; i++) {
          pcwlnode[i].rssi = json["_pcwlnode_with_rssi"][i].rssi;
        }
      } else {  // rssiが空だった場合
        for (var i = 0; i < pcwlnode.length; i++) {
          pcwlnode[i].rssi = 0;
        }
      }

      // //mac_dataの更新
      // mac_data = json["mac_data"];
      // console.log(mac_data)

      // 画面の更新
      var animation_time = 500;
      svg1.selectAll("#rssicircle")
      .transition().duration(animation_time)
      .attr({
        "fill": function(d){return thermography(d.rssi);},
      })
      .style("opacity",function(d){ // 0人ならば矢印を見えなくする
            if (d.rssi != 0) {
                return 0.5;
            } else {
                return 0;
            };
          })
    }

    d3.select("#Auto_Animation").style("color","black");
    var flag_Auto = false;
    var Timer;
    function Auto_Animation(){
      if (flag_Auto) {
        flag_Auto = !flag_Auto;
        d3.select("#btn_Auto").style("color","black");
        clearInterval(Timer);
        // Load_Form();
        describe_datetime();
      } else {
        flag_Auto = !flag_Auto;
        Auto_Ajax();
        d3.select("#btn_Auto").style("color","blue");
        Timer = setInterval(Auto_Ajax,1000);
      };
    }
    function Auto_Ajax(){
      slide_DT(-1);
    }

    // function animate_circle(){
    //   // path.style("opacity",0.2);
    //   // pcwlnodeのマッピング
    //   var g = svg1.selectAll("g.pfvcircle")
    //   .data(pfvinfo)
    //   .enter()
    //   .append("circle")
    //   .attr({
    //     "cx": function(d){
    //       return pcwlnode[pcwlnode_id[d.direction[0]]]["pos_x"];
    //     },
    //     "cy": function(d){
    //       return pcwlnode[pcwlnode_id[d.direction[0]]]["pos_y"];
    //     },
    //     "r": 7,
    //     "fill": function(d){
    //       return thermography(d.size);
    //     },
    //   })
    //   .transition().duration(1000)
    //   .attr({
    //     "cx": function(d){
    //       return pcwlnode[pcwlnode_id[d.direction[1]]]["pos_x"];
    //     },
    //     "cy": function(d){
    //       return pcwlnode[pcwlnode_id[d.direction[1]]]["pos_y"];
    //     },
    //   })

    // }

    // animate_circle();

    // // リアルタイムビューに切り替える
    // d3.select("#btn_RealTime").style("color","black");
    // var flag_RealTime = false;
    // var Timer;
    // function RealTime(){
    //   if (flag_RealTime) {
    //     flag_RealTime = !flag_RealTime;
    //     d3.select("#btn_RealTime").style("color","black");
    //     clearInterval(Timer);
    //     Load_Form();
    //   } else {
    //     flag_RealTime = !flag_RealTime;
    //     RealTime_Ajax();
    //     d3.select("#btn_RealTime").style("color","blue");
    //     d3.select("#got_datetime").text("データ取得中…");
    //     Timer = setInterval(RealTime_Ajax,5000);
    //   };
    // }
    // function RealTime_Ajax(){
    //   $.ajax({
    //     type: 'GET',
    //     url: "{% url 'pfv:pfv_map_json' %}",
    //     dataType: 'json',
    //     success: function(json){
    //       if (flag_RealTime){
    //         datetime = new Date();
    //         describe_datetime();
    //         Reload_pfvinfo(json);
    //       }
    //     }
    //   });
    // }
  </script>
  {% endblock content %}
