{% extends "base.html" %}

{% block title %}センサーマップ{% endblock title %}

{% block extrahead %}
<style>
  .axis path,
  .axis line {
     fill: none;
     stroke: black;
     shape-rendering: crispEdges;
  }

  .axis text {
     font-family: sans-serif;
     font-size: 11px;
  }

  /* 説明窓(div要素)の設定 */
  div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 12px;
    padding: 8px;
    font: 15px sans-serif;
    font-weight: bold; /*太字*/
    color: white; /*文字の色*/
    background: red;
    /*border: solid 1px #aaa;*/
    border-radius: 8px;
    pointer-events: none;
  }
</style>
{% endblock %}

{% block content %}
<h3 id="header" class="page-header">ノードマップ</h3>
<form name="Sample_form" action="Sample.html">
<!--<a id="btn_acceleration" onclick="acceleration_map()" class="btn btn-default btn-sm">加速度</a>
  <a id="btn_illuminance" onclick="illuminance_map()" class="btn btn-default btn-sm">照　度</a>
  <a id="btn_heat" onclick="heat_map()" class="btn btn-default btn-sm">気　温</a> -->
  　　<!-- ボタン間にスペースを -->
  <!-- <a id="btn_visualize" onclick="visualize_heat_complement()" class="btn btn-default btn-sm">視覚化</a> -->
  <a id="btn_opacity" onclick="opacity()" class="btn btn-default btn-sm">座　標</a>
  <a id="btn_box" onclick="box()" class="btn btn-default btn-sm">親　機</a>
  <a id="btn_RealTime" onclick="RealTime()" class="btn btn-default btn-sm">RealTime</a>
  　　<!-- ボタン間にスペースを -->
  取得日時：<font id="got_datetime" size="4"></font>
  　(<a href="javascript:void(0)" id="category_1" onclick="show('1');">選択</a>)
  　(<a href="javascript:void(0)" id="category_2" onclick="show('2');">最近</a>)
  <div id="layer_1" style="display: none;position:relative;margin-left:15pt;margin-top:15pt" class="close">
  <span id="selected_datetime">
  <select name="textbox_year">
        <option id="year2014" value="2014"/>2014</option>
        <option id="year2015" value="2015"/>2015</option>
  </select>
  年
  <select name="textbox_month">
        <option id="month01" value="01"/>1</option>
        <option id="month02" value="02"/>2</option>
        <option id="month03" value="03"/>3</option>
        <option id="month04" value="04"/>4</option>
        <option id="month05" value="05"/>5</option>
        <option id="month06" value="06"/>6</option>
        <option id="month07" value="07"/>7</option>
        <option id="month08" value="08"/>8</option>
        <option id="month09" value="09"/>9</option>
        <option id="month10" value="10"/>10</option>
        <option id="month11" value="11"/>11</option>
        <option id="month12" value="12"/>12</option>
  </select>
  月
  <select name="textbox_day">
        <option id="day01" value="01"/>1</option>
        <option id="day02" value="02"/>2</option>
        <option id="day03" value="03"/>3</option>
        <option id="day04" value="04"/>4</option>
        <option id="day05" value="05"/>5</option>
        <option id="day06" value="06"/>6</option>
        <option id="day07" value="07"/>7</option>
        <option id="day08" value="08"/>8</option>
        <option id="day09" value="09"/>9</option>
        <option id="day10" value="10"/>10</option>
        <option id="day11" value="11"/>11</option>
        <option id="day12" value="12"/>12</option>
        <option id="day13" value="13"/>13</option>
        <option id="day14" value="14"/>14</option>
        <option id="day15" value="15"/>15</option>
        <option id="day16" value="16"/>16</option>
        <option id="day17" value="17"/>17</option>
        <option id="day18" value="18"/>18</option>
        <option id="day19" value="19"/>19</option>
        <option id="day20" value="20"/>20</option>
        <option id="day21" value="21"/>21</option>
        <option id="day22" value="22"/>22</option>
        <option id="day23" value="23"/>23</option>
        <option id="day24" value="24"/>24</option>
        <option id="day25" value="25"/>25</option>
        <option id="day26" value="26"/>26</option>
        <option id="day27" value="27"/>27</option>
        <option id="day28" value="28"/>28</option>
        <option id="day29" value="29"/>29</option>
        <option id="day30" value="30"/>30</option>
        <option id="day31" value="31"/>31</option>
  </select>
  日
  <select name="textbox_hour">
        <option id="hour00" value="00"/>0</option>
        <option id="hour01" value="01"/>1</option>
        <option id="hour02" value="02"/>2</option>
        <option id="hour03" value="03"/>3</option>
        <option id="hour04" value="04"/>4</option>
        <option id="hour05" value="05"/>5</option>
        <option id="hour06" value="06"/>6</option>
        <option id="hour07" value="07"/>7</option>
        <option id="hour08" value="08"/>8</option>
        <option id="hour09" value="09"/>9</option>
        <option id="hour10" value="10"/>10</option>
        <option id="hour11" value="11"/>11</option>
        <option id="hour12" value="12"/>12</option>
        <option id="hour13" value="13"/>13</option>
        <option id="hour14" value="14"/>14</option>
        <option id="hour15" value="15"/>15</option>
        <option id="hour16" value="16"/>16</option>
        <option id="hour17" value="17"/>17</option>
        <option id="hour18" value="18"/>18</option>
        <option id="hour19" value="19"/>19</option>
        <option id="hour20" value="20"/>20</option>
        <option id="hour21" value="21"/>21</option>
        <option id="hour22" value="22"/>22</option>
        <option id="hour23" value="23"/>23</option>
  </select>
  時
  <select name="textbox_minute">
        <option id="minute00" value="00"/>0</option>
        <option id="minute05" value="05"/>5</option>
        <option id="minute10" value="10"/>10</option>
        <option id="minute15" value="15"/>15</option>
        <option id="minute20" value="20"/>20</option>
        <option id="minute25" value="25"/>25</option>
        <option id="minute30" value="30"/>30</option>
        <option id="minute35" value="35"/>35</option>
        <option id="minute40" value="40"/>40</option>
        <option id="minute45" value="45"/>45</option>
        <option id="minute50" value="50"/>50</option>
        <option id="minute55" value="55"/>55</option>
  </select>
  分
  <input type="button" value="更新" onclick="Load_Form()" class="btn btn-default btn-sm">
  </span>
  　　<!-- ボタン間にスペースを -->
  <span>
    <select name="textbox_interval">
        <option value="min05"/>5分</option>
        <option value="min10"/>10分</option>
        <option value="min20"/>20分</option>
        <option value="min30"/>30分</option>
        <option value="hou01"/>1時間</option>
        <option value="hou02"/>2時間</option>
        <option value="hou03"/>3時間</option>
        <option value="hou06"/>6時間</option>
        <option value="day01"/>1日</option>
        <option value="day02"/>2日</option>
        <option value="day03"/>3日</option>
        <option value="day07"/>1週間</option>
  </select>
  <input type="button" value="戻る" onclick="slide_DT(1)" class="btn btn-default btn-sm">
  <input type="button" value="進む" onclick="slide_DT(-1)" class="btn btn-default btn-sm">
  </span></div>
  <div id="layer_2" style="display: none;position:relative;margin-left:15pt;margin-top:15pt" class="close">
  </div>
  <!-- <a onclick="Auto_Animation()" class="btn btn-default btn-sm">animation</a> -->
</form>
<br><!-- ボタンと地図の間にスペースを -->
<?xml version="1.0" standalone="no"?>
<svg id="svg1" width="1150" height="500">
<image x="0" y="0" width="100%" height="100%" xlink:href="http://160.16.74.119/~abe/images/6F_west2.jpg"></image>
</svg>
<div id="tooltip_div"></div>
<svg id="svg2" width="1000" height="100"></svg>
<script type="text/javascript">
    // 初期フラグ
    var flag_acceleration = false;
    var flag_illuminance = false;
    var flag_heat = true;
    var flag_visualize = false;
    var type = 0;
    if ("{{ visualize }}" == "1"){
      flag_visualize = !flag_visualize;
    }

    // svgの選択
    var svg1 = d3.select("#svg1")
    var svg2 = d3.select("#svg2")
    svg2.style("opacity",0);


  // マップの座標(目盛り)と温度・照度を追加
    var coordinate_width = 50; // 座標間の幅
    var coordinate = []; 
    for (var i = 0; i*coordinate_width < 1150; i++) {
     for (var j = 0; j*coordinate_width < 500; j++) {
      var x = i*coordinate_width;
      var y = j*coordinate_width;

      var T_den = 0; // Tの分母
      var T_num = 0; // Tの分子
      // for (var k = 0; k < dataset.length; k++) {
      //   var r = Math.sqrt(Math.pow(x - dataset[k]["pos_x"],2)+Math.pow(y - dataset[k]["pos_y"],2));
      //   if (r == 0){ r = 0.000001 };
      //   T_den += dataset[k]["tu"]/r/r;
      //   T_num += 1/r/r;
      // };
      var ilu_den = 0; // iluの分母
      var ilu_num = 0; // iluの分子
      // for (var k = 0; k < dataset_illuminance.length; k++) {
      //   var r = Math.sqrt(Math.pow(x - dataset_illuminance[k]["pos_x"],2)+Math.pow(y - dataset_illuminance[k]["pos_y"],2));
      //   if (r == 0){ r = 0.000001 };
      //   ilu_den += dataset_illuminance[k]["ilu"]/r/r;
      //   ilu_num += 1/r/r;
      // };
      // var T = T_den/T_num;
      // var ilu = ilu_den/ilu_num;
      coordinate.push({x:x, y:y
        // , tu:T.toFixed(1), ilu:ilu.toFixed(0)
      });
     }
   }
   

  // 座標目盛りの透明度をトグルで切り替える
  var flag_opacity = false;
  function opacity(){
      if (flag_opacity) {
        d3.select("#btn_opacity").style("color","black");
        svg1.select("#g_coordinate")
            .transition()
            .duration(1000)
            .style("opacity",0);
      } else {
        d3.select("#btn_opacity").style("color","blue");
        svg1.select("#g_coordinate")
            .transition()
            .duration(1000)
            .style("opacity",1);
        };
    flag_opacity = !flag_opacity;
  }

  // マウスオーバーすると出てくる説明文(div要素)
  var div = d3.select("#tooltip_div")
  .attr("class","tooltip")
  .style("width", "80px" )
  .style("height", "35px")
  .style("opacity",0)

    // 座標目盛り(円)の生成
  svg1.append("g").attr("id","g_coordinate").style("opacity",0);
  svg1.select("#g_coordinate").selectAll("g.coordinate")
  .data(coordinate)
  .enter()
  .append("circle")
  .attr({
    "cx": function(d) { return d.x;},
    "cy": function(d) { return d.y;},
    "r": 3,
    "fill": "purple",
  })

  // マウスがバーに重なったら説明文を出す
  .on( "mouseover", function(d){
    if (flag_opacity){ // 座標可視状態なら説明を出す
      div.transition().duration(300)
      .style("opacity",1)
      .style("background","purple")
      .style("width", "300px" )
      .style("height", "35px")
      .style("left", (d3.event.pageX + 20) + "px")
      .style("top", (d3.event.pageY + 20) + "px")
      .text("x = " + d.x + " , y = " + d.y)
    }
  })

  // マウスがバーから離れたら説明文をけす
  .on( "mouseout", function(d){
    div.transition().duration(300)
    .style("opacity",0)
  });

</script>

  {% endblock content %}
