
{% extends "base.html" %}

{% block title %}滞留端末数グラフ{% endblock title %}

{% block extrahead %}
<style>
  .axis path,
  .axis line {
     fill: none;
     stroke: black;
     shape-rendering: crispEdges;
  }

  .axis text {
     font-family: sans-serif;
     font-size: 11px;
  }

  /* 説明窓(div要素)の設定 */
  div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 12px;
    padding: 8px;
    font: 15px sans-serif;
    font-weight: bold; /*太字*/
    color: white; /*文字の色*/
    background: red;
    /*border: solid 1px #aaa;*/
    border-radius: 8px;
    pointer-events: none;
  }
</style>
{% endblock %}

{% block content %}
    <h3 id="header" class="page-header"></h3>
    <form name="Sample_form" action="Sample.html">
      <text id="datetime_header"></text>
    <script type="text/javascript">
    function make_selectbox(list){
      for (var i = 0; i < list.length; i++) {
        if (list[i] < 60) {
          document.write('<option value="sec'+("0"+list[i]).slice(-2)+'"/>'+list[i]+' '+second_text+'</option>');
        } else if (list[i] < 3600) {
          document.write('<option value="min'+("0"+(list[i]/60)).slice(-2)+'"/>'+(list[i]/60)+' '+minute_text+'</option>');
        } else if (list[i] < 43200) {
          document.write('<option value="hou'+("0"+(list[i]/3600)).slice(-2)+'"/>'+(list[i]/3600)+' '+hour_text2+'</option>');
        } else if (list[i] < 302400) {
          document.write('<option value="day'+("0"+(list[i]/43200)).slice(-2)+'"/>'+(list[i]/43200)+' '+day_text+'</option>');
        };
      };
    }

    if ("{{ language }}" == "en") {
      var year_text = "year";
      var month_text = "month";
      var day_text = "date";
      var hour_text = "hour";
      var hour_text2 = "hour";
      var minute_text = "minute";
      var second_text = "second";
    } else {
      var year_text = "年";
      var month_text = "月";
      var day_text = "日";
      var hour_text = "時";
      var hour_text2 = "時間";
      var minute_text = "分";
      var second_text = "秒";
    };

    var year_list = [2014,2015];

    document.write('<select name="textbox_year">');
    for (var i = 0; i < year_list.length; i++) {
      document.write('<option id="year'+year_list[i]+'" value="'+year_list[i]+'"/>'+year_list[i]+' '+year_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_month">');
    for (var i = 0; i < 12; i++) {
      document.write('<option id="month'+("0"+(i+1)).slice(-2)+'" value="'+("0"+(i+1)).slice(-2)+'"/>'+(i+1)+' '+month_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_day">');
    for (var i = 0; i < 31; i++) {
      document.write('<option id="day'+("0"+(i+1)).slice(-2)+'" value="'+("0"+(i+1)).slice(-2)+'"/>'+(i+1)+' '+day_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_hour">');
    for (var i = 0; i < 24; i++) {
      document.write('<option id="hour'+("0"+i).slice(-2)+'" value="'+("0"+i).slice(-2)+'"/>'+i+' '+hour_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_minute">');
    for (var i = 0; i < 60; i++) {
      document.write('<option id="minute'+("0"+i).slice(-2)+'" value="'+("0"+i).slice(-2)+'"/>'+i+' '+minute_text+'</option>');
    };
    document.write('</select>');

    document.write('<select name="textbox_second">');
    for (var i = 0; i < 6; i++) {
      document.write('<option id="second'+("0"+(i*10)).slice(-2)+'" value="'+("0"+(i*10)).slice(-2)+'"/>'+(i*10)+' '+second_text+'</option>');
    };
    document.write('</select>');

    document.write('<a type="button" id="btn_reload" onclick="reload_datetime()" class="btn btn-default btn-sm"></a>');
    document.write('</span>');

  </script>
      <!-- br>
      <text id="id2">表示日数：</text>
      <a id="one_day" onclick="one_day()" class="btn btn-default btn-sm">1日</a>
      <a id="two_days" onclick="two_days()" class="btn btn-default btn-sm">2日</a>
      <a id="three_days" onclick="three_days()" class="btn btn-default btn-sm">3日</a>
      <a id="one_week" onclick="one_week()" class="btn btn-default btn-sm">1週間</a>
      <a id="two_weeks" onclick="two_weeks()" class="btn btn-default btn-sm">2週間</a>
      <a id="one_month" onclick="one_month()" class="btn btn-default btn-sm">1ヶ月</a>
      <a id="two_months" onclick="two_months()" class="btn btn-default btn-sm">2ヶ月</a> -->
    </form>
    <svg id="svg1" width="1024" height="560">
    <div id="tooltip_div"></div>
    <br>
    <Div Align="right"><a id="difference_language" onclick="change_language()"></a></Div>
    <br>

    <script type="text/javascript">

    // ヘッダーやその他文字の表示
    if ("{{ language }}" == "en") {
      d3.select("#header").text("Change of Stay MAC at PCWL "+"{{ node }}");
      d3.select("#datetime_header").text("datetime : ");
      d3.select("#btn_reload").text("Reload");
      d3.select("#difference_language").text("日本語");
    }　else {
      d3.select("#header").text("滞留端末数変化グラフ PCWL "+"{{ node }}");
      d3.select("#datetime_header").text("取得日時：");
      d3.select("#btn_reload").text("更新");
      d3.select("#difference_language").text("English");
    };

    //  センサーデータセット
    var staygraph_info = [];
    {% for s in staygraph_info %}
    staygraph_info.push({size:{{ s.size }},datetime:"{{ s.datetime }}"});
    {% endfor %}

    // // 一日分のデータを表示
    // function one_day(){
    //   button_color("#one_day");
    //   dataset = t1;
    //   xyScale_Set();
    //   remove_objects();
    //   if ("{{ sensor }}" == "0"){
    //     change_acceleration_graph();
    //   } else if ("{{ sensor }}" == "1"){
    //     change_illuminance_graph();
    //   } else {
    //     change_heat_graph();
    //   }
    // }
    // // 二日分のデータを表示
    // function two_days(){
    //   button_color("#two_days");
    //   dataset = t1.concat(t2);
    //   xyScale_Set();
    //   remove_objects();
    //   if ("{{ sensor }}" == "0"){
    //     change_acceleration_graph();
    //   } else if ("{{ sensor }}" == "1"){
    //     change_illuminance_graph();
    //   } else {
    //     change_heat_graph();
    //   }
    // }
    // // 三日分のデータを表示
    // function three_days(){
    //   button_color("#three_days");
    //   dataset = t1.concat(t2).concat(t3);
    //   xyScale_Set();
    //   remove_objects();
    //   if ("{{ sensor }}" == "0"){
    //     change_acceleration_graph();
    //   } else if ("{{ sensor }}" == "1"){
    //     change_illuminance_graph();
    //   } else {
    //     change_heat_graph();
    //   }
    // }
    // // 一週間分のデータを表示
    // function one_week(){
    //   button_color("#one_week");
    //   get_data("7");
    // }
    // // 二週間分のデータを表示
    // function two_weeks(){
    //   button_color("#two_weeks");
    //   get_data("14");
    // }
    // // 一ヶ月分のデータを表示
    // function one_month(){
    //   button_color("#one_month");
    //   get_data("30");
    // }
    // // 二ヶ月分のデータを表示
    // function two_months(){
    //   button_color("#two_months");
    //   get_data("61");
    // }

    // // ajaxでデータを取得
    // function get_data(limit){
    //   var d = zero_padding_dt(datetime);
    //   var url = "{% url 'cms:sensor_graph_json' %}"+"limit=" + limit + "/datetime=" + d.year + d.month + d.date + d.hour + d.minute + "/type=" + "{{ sensor }}" + "{{ device_id }}";
    //   $.ajax({
    //     type: 'GET',
    //     url: url,
    //     dataType: 'json',
    //     success: function(json){
    //       push_json(json);
    //       xyScale_Set();
    //       remove_objects();
    //       if ("{{ sensor }}" == "0"){
    //         change_acceleration_graph();
    //       } else if ("{{ sensor }}" == "1"){
    //         change_illuminance_graph();
    //       } else {
    //         change_heat_graph();
    //       }
    //     }
    //   });
    // }

    // // jsonデータをデータセットに追加
    // function push_json(json){
    //   if("{{ sensor }}" == "0"){ // 加速度グラフ
    //     for (var i = 0; i < json.length; i++) {
    //       if(json[i].ac!=null){
    //         t4.push({ac:parseInt(json[i].ac),datetime:json[i].datetime});
    //       }
    //     };
    //   } else if ("{{ sensor }}" == "1"){ // 照度グラフ
    //     for (var i = 0; i < json.length; i++) {
    //       if(json[i].ilu!=null){
    //         t4.push({ilu:parseInt(json[i].ilu),datetime:json[i].datetime});
    //       }
    //     };
    //   } else { // 気温グラフ
    //     for (var i = 0; i < json.length; i++) {
    //       if(json[i].tu!=null){
    //         t4.push({tu:parseInt(json[i].tu),datetime:json[i].datetime});
    //       }
    //     };
    //   }
    //   dataset = t1.concat(t2).concat(t3).concat(t4);
    // }

    // // ボタンに色付け
    // function button_color(id){
    //   d3.select("#one_day").style("color","black");
    //   d3.select("#two_days").style("color","black");
    //   d3.select("#three_days").style("color","black");
    //   d3.select("#one_week").style("color","black");
    //   d3.select("#two_weeks").style("color","black");
    //   d3.select("#one_month").style("color","black");
    //   d3.select("#two_months").style("color","black");
    //   d3.select(id).style("color","blue");
    // }

    // 現在のグラフを除去
    function remove_objects(){
      if ("{{ sensor }}" == "0"){
        acceleration_rect.transition().duration(1000)
        .attr({
          "x": function(d){ return xScale(parseDate(d.datetime));},
        })
        .remove();
      } else if ("{{ sensor }}" == "1"){
        illuminance_circle.transition().duration(1000)
        .attr({
          "cx": function(d){ return xScale(parseDate(d.datetime));},
        })
        .remove();
      } else {
        heat_circle.transition().duration(1000)
        .attr({
          "cx": function(d){ return xScale(parseDate(d.datetime));},
        })
        .remove();
      }
      svg1.selectAll("g").remove();
    }

    // // 初期表示日数
    // button_color("#two_days");
    // dataset = t1.concat(t2);
    

    // d3.select("body").append("p").text(dataset.length);
    // d3.select("body").append("p").text(dataset.length);

    var parseDate = d3.time.format("%Y年%m月%d日%H:%M:%S").parse;

    // svgの選択
    var svg1 = d3.select("#svg1")

    // 幅（Width）と高さ（ height）
    var w = 1024;
    var h = 560;
    var padding = 30;

    
    // 定義域と値域の設定関数
    function xyScale_Set(){

      // x軸の定義域
      xScale = d3.time.scale()
                      .domain(d3.extent(staygraph_info, function (d) {
                                  return parseDate(d.datetime);
                              }))
                      .range([padding*2, w - padding *2]);

      // y軸の定義域
      var y_max = d3.max(staygraph_info, function(d) {return d.size;})
      if (y_max < 10) {y_max = 10;};
      yScale = d3.scale.linear()
                     .domain([0,y_max])
                     .range([h - padding, padding]);

      // x軸の定義
      xAxis = d3.svg.axis()
                    .scale(xScale)
                    .orient("bottom")
                    .ticks(5);  // 大雑把に目盛りの個数を設定

      // y軸の定義
      yAxis = d3.svg.axis()
                    .scale(yScale)
                    .orient("left")
                    .ticks(5);  // 大雑把に目盛りの個数を設定
    }
    xyScale_Set();

    // マウスオーバーすると出てくる説明文(div要素)
    var div = d3.select("#tooltip_div")
    .attr("class","tooltip")
    .style("width", "80px" )
    .style("height", "35px")
    .style("opacity",0)

    // //ドラッグ時のイベントをセット
    // drag = d3.behavior.drag()
    //  .on("drag", function(d,i) { // ドラッグ中
    //   d.x += d3.event.dx;
    //   d.y += d3.event.dy;
    //   d3.select(this)
    //   .attr("transform", function(d,i){
    //     return "translate(" + [ d.x,d.y ] + ")";
    //   })
    //   .transition().duration(50)
    //   .attr("r",15);
    //   })
    //  .on("dragend", function(d){ // ドラッグ終了時
    //   d.x = 0;
    //   d.y = 0;
    //   d3.select(this)
    //   .transition().duration(500)
    //   .attr({
    //     "transform": "translate(0,0)",
    //   })
    //   .transition().duration(400)
    //   .style("opacity",0)
    //   .attr({
    //     "r": 150,
    //   })
    //   .remove()
    //  });   


    // 気温に対応した色を返す(サーモグラフィ風)
    function thermography(tu){
      threshold_H = 29.4; // この温度以上は赤色
      threshold_L = 17.8; // この温度以下は青色
      if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 4.0 / 4.0 ) ) {
        return  "rgb(" + 255 + ", " + 0 + ", " + 0 + ")"; // 赤
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 3.0 / 4.0 ) ) {
        return  "rgb(" + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 0 + ")"; // 黄～赤
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 2.0 / 4.0 ) ) {
        return  "rgb(" + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ", " + 0 + ")"; // 緑～黄  
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 1.0 / 4.0 ) ) {
        return  "rgb(" + 0 + ", " + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ")"; // 水～緑
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 0.0 / 4.0 ) ) {
        return  "rgb(" + 0 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ")"; // 青～水
      }else {
        return  "rgb(" + 0 + ", " + 0 + ", " + 255 + ")"; // 青
      }
    }

    // stayグラフの描画
    function make_stay_graph(){
      stay_rect = svg1.selectAll("rect.stay")
      .data(staygraph_info)
      .enter()
      .append("rect")
      stay_rect.attr({
        "x": function(d){ return xScale(parseDate(d.datetime));},
        "y": h - padding,
        "width": (w - padding*4)/staygraph_info.length,
        "height": 0,
        "fill": "purple",
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        d3.select(this)
        .attr({
          "fill":"rgb(255,0,255)",
        });
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","purple")
        .style("width", "260px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        if ("{{ language }}" == "en") {
          div.text(d.size + " at " + String(parseDate(d.datetime)).slice(4,24))
        } else {
          div.text(d.size + " 機　" + d.datetime.slice(5))
        };
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        d3.select(this)
        .attr({
          "fill":"purple",
        });
        div.transition().duration(300)
        .style("opacity",0)
      })
      .transition().duration(function(d,i){ return i*3;})
      .attr({
        "y": function(d){ return yScale(d.size);},
        "height": function(d){ return (h - padding) - yScale(d.size);},
      });
      generate_axis();
    }
    // function change_acceleration_graph(){
    //   acceleration_rect = svg1.selectAll("rect.acceleration")
    //   .data(dataset)
    //   .enter()
    //   .append("rect")
    //   acceleration_rect.attr({
    //     "x": function(d){ return xScale(parseDate(d.datetime));},
    //     "y": function(d){ return yScale(d.ac);},
    //     "width": (w - padding*4)/dataset.length,
    //     "height": function(d){ return (h - padding) - yScale(d.ac);},
    //     "fill": "green",
    //   })
    //   .style("opacity",0)
    //   // マウスがバーに重なったら説明文を出す
    //   .on( "mouseover", function(d){
    //     d3.select(this)
    //     .attr({
    //       "fill":"rgb(0,255,0)",
    //     });
    //     div.transition().duration(300)
    //     .style("opacity",1)
    //     .style("background","green")
    //     .style("width", "260px" )
    //     .style("height", "35px")
    //     .style("left", (d3.event.pageX + 20) + "px")
    //     .style("top", (d3.event.pageY + 20) + "px")
    //     .text(d.ac + " m/s²　" + d.datetime.slice(5))
    //   })
    //   // マウスがバーから離れたら説明文をけす
    //   .on( "mouseout", function(d){
    //     d3.select(this)
    //     .attr({
    //       "fill":"green",
    //     });
    //     div.transition().duration(300)
    //     .style("opacity",0)
    //   })
    //   .transition().delay(800)
    //   .style("opacity",1);
    //   generate_axis();
    // }

    // 描画グラフの選択と実行
    make_stay_graph();

    // xy軸の生成
    function generate_axis(){
      // x軸の生成
      svg1.append("g")
        .attr("class", "x axis")  // "axis" クラスを定義
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);

      // y軸の生成
      svg1.append("g")
         .attr("class", "y axis")
         .attr("transform", "translate(" + padding*2 + ",0)")
         .call(yAxis);
    }

    // 取得時間更新
    function reload_datetime(){

      var year = Sample_form.textbox_year.value;
      var month = Sample_form.textbox_month.value;
      var day = Sample_form.textbox_day.value;
      var hour = Sample_form.textbox_hour.value;
      var minute = Sample_form.textbox_minute.value;
      var second = Sample_form.textbox_second.value;

      var node = ("0"+"{{ node }}").slice(-2);

      document.location = "{% url 'pfv:stay_graph' %}"+"?datetime=" + year + month + day + hour + minute + second + "&node=" + node + "&language=" + "{{ language }}";
    }
    // 言語切替
    function change_language(){

      var year = datetime.getFullYear();
      var month = ("0"+(datetime.getMonth()+1)).slice(-2);
      var day = ("0"+datetime.getDate()).slice(-2);
      var hour = ("0"+datetime.getHours()).slice(-2);
      var minute = ("0"+datetime.getMinutes()).slice(-2);
      var second = ("0"+datetime.getSeconds()).slice(-2);

      var node = ("0"+"{{ node }}").slice(-2);

      if ("{{ language }}" == "en") {
        var language = "jp";
      } else {
        var language = "en";
      }

      document.location = "{% url 'pfv:stay_graph' %}"+"?datetime=" + year + month + day + hour + minute + second + "&node=" + node + "&language=" + language;
    }
    
    // // 更新前の選択状態を記憶
    // d3.select("#year"+"{{ year }}").attr("selected",true);
    // d3.select("#month"+"{{ month }}").attr("selected",true);
    // d3.select("#day"+"{{ day }}").attr("selected",true);
    // d3.select("#hour"+"{{ hour }}").attr("selected",true);
    // d3.select("#minute"+"{{ minute }}").attr("selected",true);

    // セレクトボックスの値をdatetimeに合わせる
    function set_selectbox(){
      var year = datetime.getFullYear() - 2014;
      var minute = datetime.getMinutes();
      var second = datetime.getSeconds()/10;
      document.Sample_form.textbox_year.selectedIndex = year;
      document.Sample_form.textbox_month.selectedIndex = datetime.getMonth();
      document.Sample_form.textbox_day.selectedIndex = datetime.getDate()-1;
      document.Sample_form.textbox_hour.selectedIndex = datetime.getHours();
      document.Sample_form.textbox_minute.selectedIndex = minute;
      document.Sample_form.textbox_second.selectedIndex = second;
    }

    // datatimeをゼロ埋め
    function zero_padding_dt(datetime){
      var year = String(datetime.getFullYear());
      var month = ("0"+(datetime.getMonth()+1)).slice(-2);
      var date = ("0"+datetime.getDate()).slice(-2);
      var hour = ("0"+datetime.getHours()).slice(-2);
      var minute = ("0"+datetime.getMinutes()).slice(-2);
      var dt = {year:year,month:month,date:date,hour:hour,minute:minute};
      return dt;
    }

    // 取得時間を表示
    var year = parseInt({{ year }});
    var month = parseInt({{ month }})-1;
    var day = parseInt({{ day }});
    var hour = parseInt({{ hour }});
    var minute = parseInt({{ minute }});
    var second = parseInt({{ second }});
    var datetime = new Date(year,month,day,hour,minute,second);
    set_selectbox(); // セレクトボックスにdatetimeをセット


    </script>
{% endblock content %}




