
{% extends "base.html" %}

{% block title %}データ一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}

div.bar {
   display: inline-block;
   width: 60px;
   height: 75px;   /* この数値は実行時に上書きされます */
   background-color: teal;
   margin-right: 2px;
}

</style>
		<meta charset="utf-8">
         <title>D3 Test</title>
         <script type="text/javascript" src="d3/d3.v3.js"></script>
{% endblock %}

{% block content %}
   
	    
	    <script type="text/javascript">
	      

			   var dataset = [];                          // 配列の宣言と初期化
   {% for s in t %} {          // ループを25回繰り返す
      var newNumber = {{ s.tu }};  // 0～30のランダムな数を生成
      dataset.push(newNumber);             // 生成した数を配列に追加
   }
{% endfor %}

   // 幅（ Width ）と高さ（ height ）
   var w = 1000;
   var h = 400;
   var barPadding = 1;



   var svg = d3.select("body")
         .append("svg")
         .attr("width", w)
         .attr("height", h);

    var color = d3.scale.linear()
    .domain([17.5, 23.75, 30])
    .range(["#0000ff", "#00ff00", "#ff0000"])
    .interpolate(d3.interpolateLab);


    var a = 255;    // alpha値
//    var r;    // RGB値
//    var g;
//    var b;


/*
    // 0.0～1.0 の範囲の値をサーモグラフィみたいな色にする
    // 0.0                    1.0
    // 青    水    緑    黄    赤
    // 最小値以下 = 青
    // 最大値以上 = 赤
    var ret;
    var a = 255;    // alpha値
    var r;    // RGB値
    var g;
    var b;
    var value;
    var  tmp_val = cos( 4 * M_PI * value );
    var  col_val = (int)( ( -tmp_val / 2 + 0.5 ) * 255 );

    col_val = (int)( ( -cos( 4 * M_PI * value ) / 2 + 0.5 ) * 255 );

    col_val = (int)( ( -(cos( 4 * M_PI * (d-15)/15 )) / 2 + 0.5 ) * 255 ).toFixed();

         if ( value >= ( 4.0 / 4.0 ) ) { r = 255;     g = 0;       b = 0;       }   // 赤
    else if ( value >= ( 3.0 / 4.0 ) ) { r = 255;     g = col_val; b = 0;       }   // 黄～赤
    else if ( value >= ( 2.0 / 4.0 ) ) { r = col_val; g = 255;     b = 0;       }   // 緑～黄
    else if ( value >= ( 1.0 / 4.0 ) ) { r = 0;       g = 255;     b = col_val; }   // 水～緑
    else if ( value >= ( 0.0 / 4.0 ) ) { r = 0;       g = col_val; b = 255;     }   // 青～水
    else 							   { r = 0;       g = 0;       b = 255;     }   // 青
    ret = (a&0x000000FF) << 24
        | (r&0x000000FF) << 16
        | (g&0x000000FF) <<  8
        | (b&0x000000FF);
    return ret;

*/
   svg.selectAll("rect")
         .data(dataset)
         .enter()
         .append("rect")
         .attr("x", function(d, i) {
            return i * (w / dataset.length);
         })
         .attr("y", function(d) {
            return h - (d * 10);
         })
         .attr("width", w / dataset.length - barPadding)
         .attr("height", function(d) {
            return d * 10;
         })
         .attr("fill", function(d) {
		     if ( (d-17.8)/11.6 >= ( 4.0 / 4.0 ) ) { return  "rgb(" + 255 + ", " + 0 + ", " + 0 + ")";}   // 赤
		else if ( (d-17.8)/11.6 >= ( 3.0 / 4.0 ) ) { return  "rgb(" + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (d-17.8)/11.6 )) / 2 + 0.5 ) * 255 )) + ", " + 0 + ")";}   // 黄～赤
		else if ( (d-17.8)/11.6 >= ( 2.0 / 4.0 ) ) { return  "rgb(" + (Math.round( ( -(Math.cos( 4 * Math.PI * (d-17.8)/11.6 )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ", " + 0 + ")";}   // 緑～黄    
	    else if ( (d-17.8)/11.6 >= ( 1.0 / 4.0 ) ) { return  "rgb(" + 0 + ", " + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (d-17.8)/11.6 )) / 2 + 0.5 ) * 255 )) + ")";}   // 水～緑
	    else if ( (d-17.8)/11.6 >= ( 0.0 / 4.0 ) ) { return  "rgb(" + 0 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (d-17.8)/11.6 )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ")";}   // 青～水
	    else 							       { return  "rgb(" + 0 + ", " + 0 + ", " + 255 + ")";}   // 青
            
   // return color(d);
           
         });

   svg.selectAll("text")
         .data(dataset)
         .enter()
         .append("text")
         .text(function(d) {
            return d.toFixed(1);
         })
         .attr("x", function(d, i) {
            return i * (w / dataset.length) + 6;
         })
         .attr("y", function(d) {
            return h - (d * 10) + 0;
         })
         .attr("font-family", "sans-serif")
         .attr("font-size", "12px")
         .attr("fill", "black");



         </script>
         
{% endblock content %}




