
{% extends "base.html" %}

{% block title %}データ一覧{% endblock title %}

{% block extrahead %}
<style>

</style>
		<meta charset="utf-8">
         <title>D3 Test</title>
         <script type="text/javascript" src="d3/d3.v3.js"></script>
{% endblock %}

{% block content %}
<!--script src="http://code.highcharts.com/modules/exporting.js"></script-->
<script src="http://code.highcharts.com/highcharts.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


	      

<script src="http://d3js.org/d3.v3.min.js"></script>
 <script type="text/javascript">

  var data_ax = [];
  var data_ay = [];
  var data_az = [];
  var data_dt = [];                           // 配列の宣言と初期化
    {% for s in t %}				// ループを繰り返す
    {          
      var newNumber_x = Math.round({{ s.ax }}*100)/100;
      var newNumber_y = Math.round({{ s.ay }}*100)/100;
      var newNumber_z = Math.round({{ s.az }}*100)/100;
      var newNumber_t = '{{ s.time }}';  // 0～30のランダムな数を生成
      data_ax.push(newNumber_x);
      data_ay.push(newNumber_y);
      data_az.push(newNumber_z);
      data_dt.push(newNumber_t);            // 生成した数を配列に追加
   }
   {% endfor %}

//各系列の色はHighcharts-4/js/themes/highcharts.jsの E = { colors: "#ffffff, ..." }の記述で変更可能

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '加速度'
        },
        xAxis: {
            categories: data_dt
        },
        credits: {
            enabled: false
        },
        series: [
        {
            name: 'ax',
        	data: data_ax
        }, 
        {
            name: 'ay',
            data: data_ay
        }, 
        {
            name: 'az',
            data: data_az
        }
        ]
    });
});

</script>
         
{% endblock content %}

<!--
        	{% for s in t %} { 

            categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
   
            }{% endfor %}
           
var dataset = [];                          // 配列の宣言と初期化
   {% for s in t %} {          // ループを25回繰り返す
      var newNumber = {{ s.tu }};  // 0～30のランダムな数を生成
      dataset.push(newNumber);             // 生成した数を配列に追加
   }{% endfor %}


-->