{% extends "base.html" %}

{% block title %}センサーマップ{% endblock title %}

{% block extrahead %}
<style>
  .axis path,
  .axis line {
     fill: none;
     stroke: black;
     shape-rendering: crispEdges;
  }

  .axis text {
     font-family: sans-serif;
     font-size: 11px;
  }

  /* 説明窓(div要素)の設定 */
  div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 12px;
    padding: 8px;
    font: 15px sans-serif;
    font-weight: bold; /*太字*/
    color: white; /*文字の色*/
    background: red;
    /*border: solid 1px #aaa;*/
    border-radius: 8px;
    pointer-events: none;
  }
</style>
{% endblock %}

{% block content %}
<h3 id="header" class="page-header">気温マップ</h3>
<form name="Sample_form" action="Sample.html">
  <a id="btn_acceleration" onclick="acceleration_map()" class="btn btn-default btn-sm">加速度</a>
  <a id="btn_illuminance" onclick="illuminance_map()" class="btn btn-default btn-sm">照　度</a>
  <a id="btn_heat" onclick="heat_map()" class="btn btn-default btn-sm">気　温</a>
  　　<!-- ボタン間にスペースを -->
  <a id="btn_visualize" onclick="visualize_heat_complement()" class="btn btn-default btn-sm">視覚化</a>
  <a id="btn_opacity" onclick="opacity()" class="btn btn-default btn-sm">座　標</a>
  <a id="btn_box" onclick="box()" class="btn btn-default btn-sm">親　機</a>
  <a id="btn_box" onclick="open_position_list()" class="btn btn-default btn-sm">子機の位置</a>
  <a id="btn_RealTime" onclick="RealTime()" class="btn btn-default btn-sm">RealTime</a>
  　　<!-- ボタン間にスペースを -->
  取得日時：<font id="got_datetime" size="4"></font>
  　(<a href="javascript:void(0)" id="category_1" onclick="show('1');">選択</a>)
  　(<a href="javascript:void(0)" id="category_2" onclick="show('2');">最近</a>)
  <div id="layer_1" style="display: none;position:relative;margin-left:15pt;margin-top:15pt" class="close">
  <span id="selected_datetime">
  <select name="textbox_year">
        <option id="year2014" value="2014"/>2014</option>
        <option id="year2015" value="2015"/>2015</option>
  </select>
  年
  <select name="textbox_month">
        <option id="month01" value="01"/>1</option>
        <option id="month02" value="02"/>2</option>
        <option id="month03" value="03"/>3</option>
        <option id="month04" value="04"/>4</option>
        <option id="month05" value="05"/>5</option>
        <option id="month06" value="06"/>6</option>
        <option id="month07" value="07"/>7</option>
        <option id="month08" value="08"/>8</option>
        <option id="month09" value="09"/>9</option>
        <option id="month10" value="10"/>10</option>
        <option id="month11" value="11"/>11</option>
        <option id="month12" value="12"/>12</option>
  </select>
  月
  <select name="textbox_day">
        <option id="day01" value="01"/>1</option>
        <option id="day02" value="02"/>2</option>
        <option id="day03" value="03"/>3</option>
        <option id="day04" value="04"/>4</option>
        <option id="day05" value="05"/>5</option>
        <option id="day06" value="06"/>6</option>
        <option id="day07" value="07"/>7</option>
        <option id="day08" value="08"/>8</option>
        <option id="day09" value="09"/>9</option>
        <option id="day10" value="10"/>10</option>
        <option id="day11" value="11"/>11</option>
        <option id="day12" value="12"/>12</option>
        <option id="day13" value="13"/>13</option>
        <option id="day14" value="14"/>14</option>
        <option id="day15" value="15"/>15</option>
        <option id="day16" value="16"/>16</option>
        <option id="day17" value="17"/>17</option>
        <option id="day18" value="18"/>18</option>
        <option id="day19" value="19"/>19</option>
        <option id="day20" value="20"/>20</option>
        <option id="day21" value="21"/>21</option>
        <option id="day22" value="22"/>22</option>
        <option id="day23" value="23"/>23</option>
        <option id="day24" value="24"/>24</option>
        <option id="day25" value="25"/>25</option>
        <option id="day26" value="26"/>26</option>
        <option id="day27" value="27"/>27</option>
        <option id="day28" value="28"/>28</option>
        <option id="day29" value="29"/>29</option>
        <option id="day30" value="30"/>30</option>
        <option id="day31" value="31"/>31</option>
  </select>
  日
  <select name="textbox_hour">
        <option id="hour00" value="00"/>0</option>
        <option id="hour01" value="01"/>1</option>
        <option id="hour02" value="02"/>2</option>
        <option id="hour03" value="03"/>3</option>
        <option id="hour04" value="04"/>4</option>
        <option id="hour05" value="05"/>5</option>
        <option id="hour06" value="06"/>6</option>
        <option id="hour07" value="07"/>7</option>
        <option id="hour08" value="08"/>8</option>
        <option id="hour09" value="09"/>9</option>
        <option id="hour10" value="10"/>10</option>
        <option id="hour11" value="11"/>11</option>
        <option id="hour12" value="12"/>12</option>
        <option id="hour13" value="13"/>13</option>
        <option id="hour14" value="14"/>14</option>
        <option id="hour15" value="15"/>15</option>
        <option id="hour16" value="16"/>16</option>
        <option id="hour17" value="17"/>17</option>
        <option id="hour18" value="18"/>18</option>
        <option id="hour19" value="19"/>19</option>
        <option id="hour20" value="20"/>20</option>
        <option id="hour21" value="21"/>21</option>
        <option id="hour22" value="22"/>22</option>
        <option id="hour23" value="23"/>23</option>
  </select>
  時
  <select name="textbox_minute">
        <option id="minute00" value="00"/>0</option>
        <option id="minute05" value="05"/>5</option>
        <option id="minute10" value="10"/>10</option>
        <option id="minute15" value="15"/>15</option>
        <option id="minute20" value="20"/>20</option>
        <option id="minute25" value="25"/>25</option>
        <option id="minute30" value="30"/>30</option>
        <option id="minute35" value="35"/>35</option>
        <option id="minute40" value="40"/>40</option>
        <option id="minute45" value="45"/>45</option>
        <option id="minute50" value="50"/>50</option>
        <option id="minute55" value="55"/>55</option>
  </select>
  分
  <input type="button" value="更新" onclick="Load_Form()" class="btn btn-default btn-sm">
  </span>
  　　<!-- ボタン間にスペースを -->
  <span>
    <select name="textbox_interval">
        <option value="min05"/>5分</option>
        <option value="min10"/>10分</option>
        <option value="min20"/>20分</option>
        <option value="min30"/>30分</option>
        <option value="hou01"/>1時間</option>
        <option value="hou02"/>2時間</option>
        <option value="hou03"/>3時間</option>
        <option value="hou06"/>6時間</option>
        <option value="day01"/>1日</option>
        <option value="day02"/>2日</option>
        <option value="day03"/>3日</option>
        <option value="day07"/>1週間</option>
  </select>
  <input type="button" value="戻る" onclick="slide_DT(1)" class="btn btn-default btn-sm">
  <input type="button" value="進む" onclick="slide_DT(-1)" class="btn btn-default btn-sm">
  </span></div>
  <div id="layer_2" style="display: none;position:relative;margin-left:15pt;margin-top:15pt" class="close">
  <script type="text/javascript">

  // 最近の取得時間を表示
    var recent = [];
    // 手動で入力。なんか良いアルゴリズムないかな(´・ω・｀)
    recent.push({year:2015,month:07,date:04,hour:12,minute:00});
    recent.push({year:2015,month:06,date:20,hour:12,minute:00});
    recent.push({year:2015,month:06,date:08,hour:12,minute:00});
    recent.push({year:2015,month:05,date:30,hour:12,minute:00});
    recent.push({year:2015,month:05,date:20,hour:12,minute:00});
    recent.push({year:2015,month:05,date:10,hour:12,minute:00});
    recent.push({year:2014,month:11,date:13,hour:12,minute:00});
    // 時間抽出
    var parseDate = d3.time.format("%Y年%m月%d日%H:%M:%S").parse;

  // 最近の取得時間一覧表
    document.write("<center>");
    document.write("<table border>");

    for(var i = 0 ; i < 5 ; i++) {
      document.write("<tr>");

      for(var j = 0 ; j < 4 ; j++) {
        if(recent[i+5*j]!=undefined){ // 要素が存在する場合
          document.write('<td><a onclick="recent_click(new Date('+recent[i+5*j].year+','+(recent[i+5*j].month - 1)+','+recent[i+5*j].date+','+recent[i+5*j].hour+','+recent[i+5*j].minute+'))">',  recent[i+5*j].year+"年"+recent[i+5*j].month+"月"+recent[i+5*j].date+"日" , "</a></td>");}
      }

    document.write("</tr>");

    }

    document.write("</table>");
    document.write("</center>");
  </script>
  </div>
  <!-- <a onclick="Auto_Animation()" class="btn btn-default btn-sm">animation</a> -->
</form>
<br><!-- ボタンと地図の間にスペースを -->
<?xml version="1.0" standalone="no"?>
<svg id="svg1" width="1024" height="560">
 <image x="0" y="0" width="100%" height="100%" xlink:href="http://160.16.74.119/~abe/images/809.JPG"></image>
</svg>
<div id="tooltip_div"></div>
<svg id="svg2" width="1000" height="100"></svg>

<script type="text/javascript">

    // 初期フラグ
    var flag_acceleration = false;
    var flag_illuminance = false;
    var flag_heat = true;
    var flag_visualize = false;
    var type = 0;
    if ("{{ visualize }}" == "1"){
      flag_visualize = !flag_visualize;
    }

    // 加速度ボタン実行
    function acceleration_map(){

      // フラグ管理
      flag_acceleration = true;
      flag_illuminance = false;
      flag_heat = false;

      // ヘッダーの変更
      d3.select("#header").text("加速度マップ");

      // 加速度ボタンの色付け
      d3.select("#btn_acceleration").style("color","blue");
      d3.select("#btn_illuminance").style("color","black");
      d3.select("#btn_heat").style("color","black");

      // 既存の円の消去
      for (var i = 0; i < dataset.length; i++) {
          svg1.select("#g_sensor"+dataset[i].device_id)
          .transition()
          .duration(500)
          .attr({
            transform: function(d) {
              return "translate(" + d.pos_x + "," + 600 + ")";
            },
          })
          .style("opacity",0)
          .each('end', function () {
            d3.select(this).remove();
          });
      };

      // 加速度データのマッピング
      var g = svg1.selectAll("g.acceleration")
      .data(dataset)
      .enter()
      .append("g")
      .attr({
        "id": function(d){return "g_sensor"+d.device_id;},
        transform: function(d) {
          return "translate(" + d.pos_x + "," + d.pos_y + ")";
        },
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        div.transition().duration(300)
        .style("opacity",1)
        .text(d.ac + " m/s² ")
        .style("background","green")
        .style("width", "120px")
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        div.transition().duration(300)
        .style("opacity",0).text("(^_^;)")
      })
      // クリック時の動作
      .on( "click", function(d){
        jump_graph(d.device_id);
      });
      // 円の描画
      g.append("circle")
      .attr({
        "id": function(d,i){return "ac_circle"+i;},
        "r": 0.1,
        "fill": "green",
      })
      .transition().duration(1000)
      .attr("r", 15);
      // テキストの描画
      g.append("text")
      .attr({
        "id": function(d,i){return "ac_text"+i;},
        "text-anchor": "middle",
        "dy": ".35em",
        "fill": "white",
      })
      .text(function(d) {
              return d.device_id;
      });
      // デバイスリストに存在しないものは消す
      for (var id = 0; id < device_list.length; id++) {
        if (device_list[id] == false){
          svg1.select("#ac_circle"+device_order[id]).remove();
          svg1.select("#ac_text"+device_order[id]).remove();
        }
      };

      // svg2の削除・再生成
      d3.select("#svg2").remove();
      d3.select("div").append("svg")
      .attr({
        "id": "svg2",
        "width": 800,
        "height": 300,
      })
      .style("opacity",0);
      var svg2 = d3.select("#svg2")

      // 視覚化ボタン
      d3.select("#btn_visualize")
      .style("color","black")
      .attr("onclick","visualize_acceleration()");
      if (flag_visualize){
        flag_visualize = !flag_visualize;
        visualize_acceleration();
      }
    }

    // 照度ボタン実行
    function illuminance_map(){

      // フラグ管理
      flag_acceleration = false;
      flag_illuminance = true;
      flag_heat = false;

      // ヘッダーの変更
      d3.select("#header").text("照度マップ");

      // 照度ボタンの色付け
      d3.select("#btn_acceleration").style("color","black");
      d3.select("#btn_illuminance").style("color","blue");
      d3.select("#btn_heat").style("color","black");

      // 既存の円の消去
      for (var i = 0; i < dataset.length; i++) {
          svg1.select("#g_sensor"+dataset[i].device_id)
          .transition()
          .duration(500)
          .attr({
            transform: function(d) {
              return "translate(" + d.pos_x + "," + 600 + ")";
            },
          })
          .style("opacity",0)
          .each('end', function () {
            d3.select(this).remove();
          });
      };

      // 照度データのマッピング
      var g = svg1.selectAll("g.illuminance")
      .data(dataset_illuminance)
      .enter()
      .append("g")
      .attr({
        "id": function(d){return "g_sensor"+d.device_id;},
        transform: function(d) {
          return "translate(" + d.pos_x + "," + d.pos_y + ")";
        },
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        div.transition().duration(300)
        .style("opacity",1).text(d.ilu + " lx ")
        .style("background","blue")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .style("width", "80px")
        .style("height", "35px")
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        div.transition().duration(300)
        .style("opacity",0).text("m9(^Д^)")
      })
      // マウスクリック時の動作
      .on( "click", function(d){
        jump_graph(d.device_id);
      });
      // 円の描画
      g.append("circle")
      .attr({
        "id": function(d,i){return "ilu_circle"+i;},
        "r": 0.1,
        "fill": "blue",
      })
      .transition().duration(1000)
      .attr("r", 15);
      // テキストの描画
      g.append("text")
      .attr({
        "id": function(d,i){return "ilu_text"+i;},
        "text-anchor": "middle",
        "dy": ".35em",
        "fill": "white",
      })
      .text(function(d) {
              return d.device_id;
      });
      // デバイスリストに存在しないものは消す
      for (var id = 0; id < device_list.length; id++) {
        if (device_list[id] == false){
          svg1.select("#ilu_circle"+device_order_illuminance[id]).remove();
          svg1.select("#ilu_text"+device_order_illuminance[id]).remove();
        }
      };

      // 照度参考バーの表示
      // 幅（Width）と高さ（ height）
      var w = 1000;
      var h = 100;
      var padding = 30;

      // svg2の削除・再生成
      d3.select("#svg2").remove();
      d3.select("div").append("svg")
      .attr({
        "id": "svg2",
        "width": w,
        "height": h,
      })
      .style("opacity",0);
      var svg2 = d3.select("#svg2")

      //スケール関数の生成
      var xScale = d3.scale.linear()
                       .domain([0, 1000])
                       .range([padding, w - padding *2]);

      // x軸の定義
      var xAxis = d3.svg.axis()  // ここのsvgは変数名じゃない！；；
                    .scale(xScale)
                    .orient("bottom")
                    .tickFormat(function(d) { return d + " lx"; })
                    .ticks(10);  // 大雑把に目盛りの個数を設定

      // x軸の生成
      svg2.append("g")
        .attr("class", "axis")  // "axis" クラスを定義
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);

      // 棒グラフの追加
      var illuminance_bar = [];
      for (var i = 0; i < 100; i++) {
        illuminance_bar.push(i*10);
      };
      svg2.selectAll("rect.temperature")
      .data(illuminance_bar)
      .enter()
      .append("rect")
      .attr({
        "x": function(d){ return xScale(d);},
        "y": padding,
        "width": (w - padding*3)/illuminance_bar.length,
        "height": h - padding*2 - 10,
        "fill": function(d){ return illuminance_color(d);},
      });

      // 視覚化ボタン
      d3.select("#btn_visualize")
      .style("color","black")
      .attr("onclick","visualize_illuminance_complement()");
      if (flag_visualize){
        flag_visualize = !flag_visualize;
        visualize_illuminance_complement();
      }
    }

    // 気温ボタン実行
    function heat_map(){

      // フラグ管理
      flag_acceleration = false;
      flag_illuminance = false;
      flag_heat = true;

      // ヘッダーの変更
      d3.select("#header").text("気温マップ");

      // 気温ボタンの色付け
      d3.select("#btn_acceleration").style("color","black");
      d3.select("#btn_illuminance").style("color","black");
      d3.select("#btn_heat").style("color","blue");

      // 既存の円の消去
      for (var i = 0; i < dataset.length; i++) {
          svg1.select("#g_sensor"+dataset[i].device_id)
          .transition()
          .duration(500)
          .attr({
            transform: function(d) {
              return "translate(" + d.pos_x + "," + 600 + ")";
            },
          })
          .style("opacity",0)
          .each('end', function () {
            d3.select(this).remove();
          });
      };

      // 赤外線データのマッピング
      var g = svg1.selectAll("g.dataset")
      .data(dataset)
      .enter()
      .append("g")
      .attr({
        "id": function(d){return "g_sensor"+d.device_id;},
        transform: function(d) {
          return "translate(" + d.pos_x + "," + d.pos_y + ")";
        },
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
          div.transition().duration(300)
          .style("opacity",1).text(d.tu + " ℃ ")
          .style("background","red")
          .style("width", "80px")
          .style("height", "35px")
          .style("left", (d3.event.pageX + 20) + "px")
          .style("top", (d3.event.pageY + 20) + "px")
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        div.transition().duration(300)
        .style("opacity",0).text("　")
      })
      // クリック時の動作
      .on( "click", function(d){
        jump_graph(d.device_id);
      });
      // 円の描画
      g.append("circle")
      .attr({
        "id": function(d,i){return "heat_circle"+i;},
        "r": 0.1,
        "fill": "red",
      })
      .transition().duration(1000)
      .attr("r", 15);;
      // テキストの描画
      g.append("text")
      .attr({
        "id": function(d,i){return "heat_text"+i;},
        "text-anchor": "middle",
        "dy": ".35em",
        "fill": "white",
      })
      .text(function(d) {
              return d.device_id;
      });
      // デバイスリストに存在しないものは消す
      for (var id = 0; id < device_list.length; id++) {
        if (device_list[id] == false){
          svg1.select("#heat_circle"+device_order[id]).remove();
          svg1.select("#heat_text"+device_order[id]).remove();
        }
      };

      // 温度参考バーの表示
      // 幅（Width）と高さ（ height）
      var w = 1000;
      var h = 100;
      var padding = 30;

      // svg2の削除・再生成
      d3.select("#svg2").remove();
      d3.select("div").append("svg")
      .attr({
        "id": "svg2",
        "width": w,
        "height": h,
      })
      .style("opacity",0);
      var svg2 = d3.select("#svg2")

      //スケール関数の生成
      var xScale = d3.scale.linear()
                       .domain([0, 40])
                       .range([padding, w - padding *2]);

      // x軸の定義
      var xAxis = d3.svg.axis()  // ここのsvgは変数名じゃない！；；
                    .scale(xScale)
                    .orient("bottom")
                    .tickFormat(function(d) { return d + "℃"; })
                    .ticks(10);  // 大雑把に目盛りの個数を設定

      // x軸の生成
      svg2.append("g")
        .attr("class", "axis")  // "axis" クラスを定義
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);

      // 棒グラフの追加
      temperature = [];
      for (var i = 0; i < 160; i++) {
        temperature.push(i/4);
      };
      svg2.selectAll("rect.temperature")
      .data(temperature)
      .enter()
      .append("rect")
      .attr({
        "x": function(d){ return xScale(d);},
        "y": padding,
        "width": (w - padding*3)/temperature.length,
        "height": h - padding*2 - 10,
        "fill": function(d){ return thermography(d);},
      });

      // 視覚化ボタン
      d3.select("#btn_visualize")
      .style("color","black")
      .attr("onclick","visualize_heat_complement()");
      if (flag_visualize){
        flag_visualize = !flag_visualize;
        visualize_heat_complement();
      }
    }

    // データセットの定義
    //  センサーデータセット
    var dataset = [];
    var dataset_illuminance = [];
    var pos = [];
    {% for s in t %}
    dataset.push({ac:{{ s.ac }},ilu:{{ s.ilu }},tu:{{ s.tu }},device_id:{{ s.device_id }},"box_id":"{{ s.box_id }}",datetime:"{{ s.datetime }}"});
    if (({{ s.device_id }} == 4)||({{ s.device_id }} == 8)||({{ s.device_id }} == 9)||({{ s.device_id }} == 18)||({{ s.device_id }} == 20)){
      dataset_illuminance.push({ac:{{ s.ac }},ilu:{{ s.ilu }},tu:{{ s.tu }},device_id:{{ s.device_id }},"box_id":"{{ s.box_id }}",datetime:"{{ s.datetime }}"});
    }
    {% endfor %}
    {% for s in pos %}
    pos.push({pos_x:{{ s.pos_x }},pos_y:{{ s.pos_y }}});
    {% endfor %}

    // d3.select("body").append("p").text("datasetの長さ = "+dataset.length);
    // d3.select("body").append("p").text("posの長さ = "+pos.length);

    // 時間抽出
    var parseDate = d3.time.format("%Y年%m月%d日%H:%M:%S").parse;

    // // 最近の取得時間一覧を表示
    // d3.select("#recent_text").selectAll("a.recent")
    // .data(recent)
    // .enter()
    // .append("p")
    // .append("a")
    // .text(function(d){return d;})
    // .attr("onclick",function(d){
    //   return "recent_click(new Date("+parseDate(d).getFullYear()+","+parseDate(d).getMonth()+","+parseDate(d).getDate()+","+parseDate(d).getHours()+","+parseDate(d).getMinutes()+"))";})

    // 最近の取得時間をクリックした時の動作
    function recent_click(d){
      if (flag_RealTime){ // リアルタイムビュー状態ならそれを中断する
        d3.select("#btn_RealTime").style("color","black");
        clearInterval(Timer);
        flag_RealTime = !flag_RealTime;
      }
      datetime = d;
      set_selectbox(d);
      Load_JSON(d);
    }

    // Load_JSON(parseDate(recent[0]));
    // Load_JSON(new Date(2014,10,11,11,11));
    // d3.select("body").append("p").text(parseDate(recent[0]));

    // 現在のデバイス存在状況を記録
    var device_list = []; // 存在するデバイスリスト(true = デバイス有り)
    var device_order = []; // デバイスidから登録順を求められるように(device_order[device_id] = i )
    var device_order_illuminance = [];
    for (var i = 1; i < 46; i++) {
      device_list[i] = false;
    };
    for (var i = 0; i < dataset.length; i++) {
      device_list[dataset[i]["device_id"]] = true;
      device_order[dataset[i]["device_id"]] = i;
    };
    for (var i = 0; i < dataset_illuminance.length; i++) {
      device_order_illuminance[dataset_illuminance[i]["device_id"]] = i;
    };

    // データセットに位置情報を紐付け
    for (var i = 0; i < dataset.length; i++) {
      dataset[i].pos_x = pos[i].pos_x;
      dataset[i].pos_y = pos[i].pos_y;
    };
    for (var i = 0; i < dataset_illuminance.length; i++) {
      var px = pos[device_order[dataset_illuminance[i].device_id]].pos_x;
      var py = pos[device_order[dataset_illuminance[i].device_id]].pos_y;
      dataset_illuminance[i].pos_x = px;
      dataset_illuminance[i].pos_y = py;
    };

    // マップの座標(目盛り)と温度・照度を追加
    var coordinate_width = 50; // 座標間の幅
    var coordinate = []; 
    for (var i = 0; i*coordinate_width < 1024; i++) {
     for (var j = 0; j*coordinate_width < 560; j++) {
      var x = i*coordinate_width;
      var y = j*coordinate_width;
      var T_den = 0; // Tの分母
      var T_num = 0; // Tの分子
      for (var k = 0; k < dataset.length; k++) {
        var r = Math.sqrt(Math.pow(x - dataset[k]["pos_x"],2)+Math.pow(y - dataset[k]["pos_y"],2));
        if (r == 0){ r = 0.000001 };
        T_den += dataset[k]["tu"]/r/r;
        T_num += 1/r/r;
      };
      var ilu_den = 0; // iluの分母
      var ilu_num = 0; // iluの分子
      for (var k = 0; k < dataset_illuminance.length; k++) {
        var r = Math.sqrt(Math.pow(x - dataset_illuminance[k]["pos_x"],2)+Math.pow(y - dataset_illuminance[k]["pos_y"],2));
        if (r == 0){ r = 0.000001 };
        ilu_den += dataset_illuminance[k]["ilu"]/r/r;
        ilu_num += 1/r/r;
      };
      var T = T_den/T_num;
      var ilu = ilu_den/ilu_num;
      coordinate.push({x:x, y:y, tu:T.toFixed(1), ilu:ilu.toFixed(0)});
     }
   }

   /***********************************
                Ajax関係 
   ************************************/

   var new_device_list = []; // jsonデータのデバイス存在状況リスト
   var new_device_order = []; // jsonデータのデバイス登録順序
   var new_device_order_illuminance = [];

   // JSONをajaxで読み込む
   function Load_Form(){
      if (flag_RealTime){ // リアルタイムビュー状態ならそれを中断する
        d3.select("#btn_RealTime").style("color","black");
        clearInterval(Timer);
        flag_RealTime = !flag_RealTime;
      }
      var year = Sample_form.textbox_year.value;
      var month = Sample_form.textbox_month.value;
      var day = Sample_form.textbox_day.value;
      var hour = Sample_form.textbox_hour.value;
      var minute = Sample_form.textbox_minute.value;
      datetime.setYear(parseInt(year));
      datetime.setMonth(parseInt(month)-1);
      datetime.setDate(parseInt(day));
      datetime.setHours(parseInt(hour));
      datetime.setMinutes(parseInt(minute));
      Load_JSON(datetime);
    }

    // datetimeに対応したJSONをajaxで読み込む
    function Load_JSON(datetime){
      var year = datetime.getFullYear();
      var month = ("0"+(datetime.getMonth()+1)).slice(-2);
      var day = ("0"+datetime.getDate()).slice(-2);
      var hour = ("0"+datetime.getHours()).slice(-2);
      var minute = ("0"+datetime.getMinutes()).slice(-2);
      $.ajax({
        type: 'GET',
        url: "{% url 'cms:response_json' %}"+"datetime=" + year + month + day + hour + minute,
        dataType: 'json',
        success: function(json){
          var json_illuminance = []; // 照度用jsonデータ
          for (var k = 0; k < json.length; k++) {
            if ((json[k]["device_id"] == 4)||(json[k]["device_id"] == 8)||(json[k]["device_id"] == 9)||(json[k]["device_id"] == 18)||(json[k]["device_id"] == 20)){ json_illuminance.push(json[k]); 
            }
          };
          reload_coordinate(json,json_illuminance);
          reload_dataset(json,json_illuminance);
          reload_box(json);
          describe_datetime();
        }
      });
    }

   // 座標の温度を更新
   function reload_coordinate(json,json_illuminance){
    for (var i = 0; i < coordinate.length; i++) {
      var T_den = 0; // Tの分母
      var T_num = 0; // Tの分子
      for (var k = 0; k < json.length; k++) {
        var r = Math.sqrt(Math.pow(coordinate[i]["x"] - json[k]["pos_x"],2)+Math.pow(coordinate[i]["y"] - json[k]["pos_y"],2));
        if (r == 0){ r = 0.000001 };
        T_den += json[k]["tu"]/r/r;
        T_num += 1/r/r;
      };
      var ilu_den = 0; // iluの分母
      var ilu_num = 0; // iluの分子
      for (var k = 0; k < json_illuminance.length; k++) {
        var r = Math.sqrt(Math.pow(coordinate[i]["x"] - json_illuminance[k]["pos_x"],2)+Math.pow(coordinate[i]["y"] - json_illuminance[k]["pos_y"],2));
        if (r == 0){ r = 0.000001 };
        ilu_den += json_illuminance[k]["ilu"]/r/r;
        ilu_num += 1/r/r;
      };
      var T = T_den/T_num;
      var ilu = ilu_den/ilu_num;
      coordinate[i]["tu"] = T.toFixed(1);
      coordinate[i]["ilu"] = ilu.toFixed(0);
    };
    // 補完エリアの色を変える
    if (flag_visualize){
      if (flag_acceleration){
        // ここに円の大きさを変えるコードを書く
      } else if (flag_illuminance){
        complement.transition().duration(1000)
        .attr({
          "fill": function(d){ return illuminance_color(d.ilu)},
        });
      } else {
        complement.transition().duration(1000)
        .attr({
          "fill": function(d){ return thermography(d.tu)},
        });
      }
    }
   }

   // データセットを更新
   function reload_dataset(json,json_illuminance){
    for (var i = 1; i < 46; i++) {
      new_device_list[i] = false;
    };
    for (var i = 0; i < json.length; i++) {
      new_device_list[json[i]["device_id"]] = true;
      new_device_order[json[i]["device_id"]] = i;
    };
    for (var i = 0; i < json_illuminance.length; i++) {
      new_device_order_illuminance[json_illuminance[i]["device_id"]] = i;
    };
    // d3.select("body").append("p").text(new_device_order);
    // d3.select("body").append("p").text(new_device_order_illuminance);
    compare_list(device_list,new_device_list,json);
    for (var i = 0; i < device_list.length; i++) { // デバイスリストを更新
      device_list[i] = new_device_list[i];
    };
    if (flag_acceleration && flag_visualize){ // 加速度視覚化状態なら状態更新
      flag_visualize = !flag_visualize;
      visualize_acceleration();
    }
   }
   function compare_list(device_list,new_device_list,json){
    for (var id = 1; id < 46; id++) {
      if (device_list[id]){
        if (new_device_list[id]){
          reload_value(id,json); // 新旧どちらもデバイスが存在する場合
        } else {
          delete_value(id,json); // 遷移先でデバイスが消える場合
        }
      } else {
        if (new_device_list[id]){
          generate_value(id,json); // 遷移先でデバイスが新しく出てくる場合
        }
      }
    };
   }
   function reload_value(id,json){
    dataset[device_order[id]].ac = json[new_device_order[id]].ac;
    dataset[device_order[id]].ilu = json[new_device_order[id]].ilu;
    dataset[device_order[id]].tu = json[new_device_order[id]].tu;
    if ((id == 4)||(id == 8)||(id == 9)||(id == 18)||(id == 20)){
      dataset_illuminance[device_order_illuminance[id]].ac = json[new_device_order[id]].ac;
      dataset_illuminance[device_order_illuminance[id]].ilu = json[new_device_order[id]].ilu;
      dataset_illuminance[device_order_illuminance[id]].tu = json[new_device_order[id]].tu;
    }
    // 座標が変化していた場合
    if ((dataset[device_order[id]].pos_x != json[new_device_order[id]].pos_x)||(dataset[device_order[id]].pos_y != json[new_device_order[id]].pos_y)){
      svg1.select("#g_sensor"+id)
      .transition().duration(1000)
      .attr({
        transform:"translate(" + json[new_device_order[id]].pos_x + "," + json[new_device_order[id]].pos_y + ")",
      });
      dataset[device_order[id]].pos_x = json[new_device_order[id]].pos_x;
      dataset[device_order[id]].pos_y = json[new_device_order[id]].pos_y;
    }
   }
   function delete_value(id,json){
    if (flag_acceleration){
      svg1.select("#ac_circle"+device_order[id])
      .transition().duration(1000).attr("r",0).remove();
      svg1.select("#ac_text"+device_order[id])
      .transition().duration(1000).style("opacity",0).remove();
    } else if (flag_illuminance){
      svg1.select("#ilu_circle"+device_order_illuminance[id])
      .transition().duration(1000).attr("r",0).remove();
      svg1.select("#ilu_text"+device_order_illuminance[id])
      .transition().duration(1000).style("opacity",0).remove();
    } else {
      svg1.select("#heat_circle"+device_order[id])
      .transition().duration(1000).attr("r",0).remove();
      svg1.select("#heat_text"+device_order[id])
      .transition().duration(1000).style("opacity",0).remove();
    }
   }
   function generate_value(id,json){

    // dataset への登録
    if (device_order[id] >= 0){ // すでにidが登録されていた場合
      reload_value(id,json);
    } else{ // idが初めて出現した場合
      device_order[id] = dataset.length;
      dataset.push({
        "pos_x":json[new_device_order[id]].pos_x,
        "pos_y":json[new_device_order[id]].pos_y,
        "ac":json[new_device_order[id]].ac,
        "ilu":json[new_device_order[id]].ilu,
        "tu":json[new_device_order[id]].tu,
        "device_id":json[new_device_order[id]].device_id,
      });
      if ((id == 4)||(id == 8)||(id == 9)||(id == 18)||(id == 20)){
        device_order_illuminance[id] = dataset_illuminance.length;
        dataset_illuminance.push({
          "pos_x":json[new_device_order[id]].pos_x,
          "pos_y":json[new_device_order[id]].pos_y,
          "ac":json[new_device_order[id]].ac,
          "ilu":json[new_device_order[id]].ilu,
          "tu":json[new_device_order[id]].tu,
          "device_id":json[new_device_order[id]].device_id,
        });
      }
    }
    
    if (flag_acceleration){ 
      // 加速度データのマッピング
      var g = svg1.selectAll("g.generate")
      .data([dataset[device_order[id]]])
      .enter()
      .append("g")
      .attr({
        "id": function(d){return "g_sensor"+d.device_id;},
        transform: function(d) {
          return "translate(" + d.pos_x + "," + d.pos_y + ")";
        },
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        div.transition().duration(300)
        .style("opacity",1)
        .text(d.ac + " m/s² ")
        .style("background","green")
        .style("width", "120px")
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        div.transition().duration(300)
        .style("opacity",0).text("(^_^;)")
      })
      // クリック時の動作
      .on( "click", function(d){
        jump_graph(d.device_id);
      });
      // 円の描画
      g.append("circle")
      .attr({
        "id": function(d){return "ac_circle"+device_order[d.device_id];},
        "r": 0.1,
        "fill": "green",
      })
      .transition().duration(1000)
      .attr("r", 15);
      // テキストの描画
      g.append("text")
      .attr({
        "id": function(d,i){return "ac_text"+device_order[d.device_id];},
        "text-anchor": "middle",
        "dy": ".35em",
        "fill": "white",
      })
      .style("opacity",0)
      .text(function(d) {return d.device_id;})
      .transition().duration(1000)
      .style("opacity",1);
    } else if (flag_illuminance){
      // 照度データのマッピング
      if ((id == 4)||(id == 8)||(id == 9)||(id == 18)||(id == 20)){
        var g = svg1.selectAll("g.generate")
        .data([dataset[device_order[id]]])
        .enter()
        .append("g")
        .attr({
          "id": function(d){return "g_sensor"+d.device_id;},
          transform: function(d) {
            return "translate(" + d.pos_x + "," + d.pos_y + ")";
          },
        })
        // マウスがバーに重なったら説明文を出す
        .on( "mouseover", function(d){
          div.transition().duration(300)
          .style("opacity",1).text(d.ilu + " lx ")
          .style("background","blue")
          .style("left", (d3.event.pageX + 20) + "px")
          .style("top", (d3.event.pageY + 20) + "px")
          .style("width", "80px")
          .style("height", "35px")
        })
        // マウスがバーから離れたら説明文をけす
        .on( "mouseout", function(d){
          div.transition().duration(300)
          .style("opacity",0).text("m9(^Д^)")
        })
        // マウスクリック時の動作
        .on( "click", function(d){
          jump_graph(d.device_id);
        });
        // 円の描画
        g.append("circle")
        .attr({
          "id": function(d){return "ilu_circle"+device_order_illuminance[d.device_id];},
          "r": 0.1,
          "fill": "blue",
        })
        .transition().duration(1000)
        .attr("r", 15);
        // テキストの描画
        g.append("text")
        .attr({
          "id": function(d,i){return "ilu_text"+device_order_illuminance[d.device_id];},
          "text-anchor": "middle",
          "dy": ".35em",
          "fill": "white",
        })
        .style("opacity",0)
        .text(function(d) {return d.device_id;})
        .transition().duration(1000)
        .style("opacity",1);
      }
    } else {
      // 赤外線データのマッピング
      var g = svg1.selectAll("g.generate")
      .data([dataset[device_order[id]]])
      .enter()
      .append("g")
      .attr({
        "id": function(d){return "g_sensor"+d.device_id;},
        transform: function(d) {
          return "translate(" + d.pos_x + "," + d.pos_y + ")";
        },
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
          div.transition().duration(300)
          .style("opacity",1).text(d.tu + " ℃ ")
          .style("background","red")
          .style("width", "80px")
          .style("height", "35px")
          .style("left", (d3.event.pageX + 20) + "px")
          .style("top", (d3.event.pageY + 20) + "px")
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        div.transition().duration(300)
        .style("opacity",0).text("　")
      })
      // クリック時の動作
      .on( "click", function(d){
        jump_graph(d.device_id);
      });
      // 円の描画
      g.append("circle")
      .attr({
        "id": function(d){return "heat_circle"+device_order[d.device_id];},
        "r": 0.1,
        "fill": "red",
      })
      .transition().duration(1000)
      .attr("r", 15);
      // テキストの描画
      g.append("text")
      .attr({
        "id": function(d,i){return "heat_text"+device_order[d.device_id];},
        "text-anchor": "middle",
        "dy": ".35em",
        "fill": "white",
      })
      .style("opacity",0)
      .text(function(d) {return d.device_id;})
      .transition().duration(1000)
      .style("opacity",1);
    }
   }

   function reload_box(json){
    for (var i = 0; i < 4; i++) {
      box_list[i].slist = []; // いったん空に
    };
    for (var i = 0; i < json.length; i++) {
      if (json[i]["box_id"] == "9CBD9D010006"){
        box_list[0].slist.push(json[i]["device_id"]);
      } else if (json[i]["box_id"] == "9CBD9D010007"){
        box_list[1].slist.push(json[i]["device_id"]);
      } else if (json[i]["box_id"] == "9CBD9D010008"){
        box_list[2].slist.push(json[i]["device_id"]);
      } else if (json[i]["box_id"] == "9CBD9D010009"){
        box_list[3].slist.push(json[i]["device_id"]);
      }
    };
   }

    function slide_DT(s){ // s=1なら戻る,s=-1なら進む
      if (flag_RealTime){ // リアルタイムビュー状態ならそれを中断する
        d3.select("#btn_RealTime").style("color","black");
        clearInterval(Timer);
        flag_RealTime = !flag_RealTime;
      }
      var value = Sample_form.textbox_interval.value;
      var num = s * parseInt(value.slice(-2));
      if (value.slice(0,3) == "min"){
        datetime.setMinutes(datetime.getMinutes() - num);
        Load_JSON(datetime);
      } else if (value.slice(0,3) == "hou") {
        datetime.setHours(datetime.getHours() - num);
        Load_JSON(datetime);
      } else if (value.slice(0,3) == "day") {
        datetime.setDate(datetime.getDate() - num);
        Load_JSON(datetime);
      }
      set_selectbox();
    }

    // セレクトボックスの値をdatetimeに合わせる
    function set_selectbox(){
      var year = datetime.getFullYear() - 2014;
      var minute = datetime.getMinutes()/5;
      document.Sample_form.textbox_year.selectedIndex = year;
      document.Sample_form.textbox_month.selectedIndex = datetime.getMonth();
      document.Sample_form.textbox_day.selectedIndex = datetime.getDate()-1;
      document.Sample_form.textbox_hour.selectedIndex = datetime.getHours();
      document.Sample_form.textbox_minute.selectedIndex = minute;
    }

    // // アニメーション
    // function Animation(){
    //   onehour_ago.setHours(onehour_ago.getHours() - 3); // 一時間前
    //   Ajax_JSON(onehour_ago);
    //   d3.select("body").append("p").text(onehour_ago);
    // }
    // function Auto_Animation(){
    //   setInterval("Animation()", 1000);
    // }

    // リアルタイムビューに切り替える
    d3.select("#btn_RealTime").style("color","black");
    var flag_RealTime = false;
    var Timer;
    function RealTime(){
      if (flag_RealTime) {
        flag_RealTime = !flag_RealTime;
        d3.select("#btn_RealTime").style("color","black");
        clearInterval(Timer);
        Load_Form();
      } else {
        flag_RealTime = !flag_RealTime;
        RealTime_Ajax();
        d3.select("#btn_RealTime").style("color","blue");
        d3.select("#got_datetime").text("データ取得中…");
        Timer = setInterval(RealTime_Ajax,30000);
      };
    }
    function RealTime_Ajax(){
      $.ajax({
        type: 'GET',
        url: "{% url 'cms:response_json' %}",
        dataType: 'json',
        success: function(json){
          if (flag_RealTime){
            var json_illuminance = []; // 照度用jsonデータ
            for (var k = 0; k < json.length; k++) {
              if ((json[k]["device_id"] == 4)||(json[k]["device_id"] == 8)||(json[k]["device_id"] == 9)||(json[k]["device_id"] == 18)||(json[k]["device_id"] == 20)){ json_illuminance.push(json[k]); 
              }
            };
            reload_coordinate(json,json_illuminance);
            reload_dataset(json,json_illuminance);
            reload_box(json);
            if (json.length == 0){
              d3.select("#got_datetime").text("データ無し");
            } else {
              Real_datetime = json[0].up2date;
              d3.select("#got_datetime").text(Real_datetime);
            }
          }
        }
      });
    }

    // 取得時間更新関数
    function reload_datetime(){
      if (flag_acceleration){
        if (flag_visualize){
          var type = "01";
        } else {
          var type = "00";
        }
      } else if (flag_illuminance){
        if (flag_visualize){
          var type = "11";
        } else {
          var type = "10";
        }
      } else {
        if (flag_visualize){
          var type = "21";
        } else {
          var type = "20";
        }
      }
      var year = Sample_form.textbox_year.value;
      var month = Sample_form.textbox_month.value;
      var day = Sample_form.textbox_day.value;
      var hour = Sample_form.textbox_hour.value;
      var minute = Sample_form.textbox_minute.value;
      document.location = "{% url 'cms:sensor_map' %}"+"datetime=" + year + month + day + hour + minute + "/type=" + type;
    }
    
    // センサークリック時の動作
    function jump_graph(device_id){
      if (flag_acceleration){
        var type = "0"
      } else if (flag_illuminance){
        var type = "1"
      } else {
        var type = "2"
      }
      if (flag_RealTime){
        var year = Real_datetime.slice(0,4);
        var month = Real_datetime.slice(5,7);
        var day = Real_datetime.slice(8,10);
        var hour = Real_datetime.slice(12,14);
        var minute = Real_datetime.slice(15,17);
      } else {
        var year = Sample_form.textbox_year.value;
        var month = Sample_form.textbox_month.value;
        var day = Sample_form.textbox_day.value;
        var hour = Sample_form.textbox_hour.value;
        var minute = Sample_form.textbox_minute.value;
      }
      window.open("{% url 'cms:sensor_graph' %}"+"limit=" + "500" 
        + "/datetime=" + year + month + day + hour + minute + "/type=" + type + ("0"+device_id).slice(-2),"_blank","toolbar=yes,titlebar=yes,status=yes,scrollbars=yes,resizable=yes,menubar=yes,location=yes");
    }

    // svgの選択
    var svg1 = d3.select("#svg1")
    var svg2 = d3.select("#svg2")
    svg2.style("opacity",0);

    // 気温に対応した色を返す(サーモグラフィ風)
    function thermography(tu){
      threshold_H = 29.4; // この温度以上は赤色
      threshold_L = 17.8; // この温度以下は青色
      if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 4.0 / 4.0 ) ) {
        return  "rgb(" + 255 + ", " + 0 + ", " + 0 + ")"; // 赤
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 3.0 / 4.0 ) ) {
        return  "rgb(" + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 0 + ")"; // 黄～赤
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 2.0 / 4.0 ) ) {
        return  "rgb(" + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ", " + 0 + ")"; // 緑～黄  
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 1.0 / 4.0 ) ) {
        return  "rgb(" + 0 + ", " + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ")"; // 水～緑
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 0.0 / 4.0 ) ) {
        return  "rgb(" + 0 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ")"; // 青～水
      }else {
        return  "rgb(" + 0 + ", " + 0 + ", " + 255 + ")"; // 青
      }
    }

    // 照度に対応した色を返す(青←→黃)
    function illuminance_color(ilu){
      var threshold = 700; // 700lx以上は明るいとみなす
      if (ilu > threshold) {
        return  "rgb(" + 255 + ", " + 255 + ", " + 0 + ")";
      } else {
        return  "rgb(" + Math.round((255/threshold)*ilu) + ", " + Math.round((255/threshold)*ilu) + ", " + Math.round((255/threshold)*(1000 - ilu)) + ")";
      }
    }

    // 視覚化状態をトグルで切り替える
    function visualize_acceleration(){
      var svg2 = d3.select("#svg2")
      if (flag_visualize) {
        d3.select("#btn_visualize").style("color","black");
        for (var i = 0; i < dataset.length; i++) {
          svg1.select("#ac_circle"+i)
          .transition()
          .duration(1000)
          .style("opacity",1)
          .attr("r", 15);
          svg1.select("#ac_text"+i)
          .transition()
          .duration(1000)
          .attr("font-size", "14px");
        }
      } else {
        d3.select("#btn_visualize").style("color","blue");
        // マップ上の照度色の四角を消去
        complement.transition().duration(1000)
        .style("opacity",0)
        .attr({
          "width": 0,
          "height": 0,
          "fill": "white",
        });
        for (var i = 0; i < dataset.length; i++) {
          if (device_list[dataset[i].device_id]){ // もしデバイスが存在するなら以下を実行
            svg1.select("#ac_circle"+i)
            .transition()
            .duration(1000)
            .style("opacity",0.8)
            .attr("r", 25 * dataset[i]["ac"]);
            svg1.select("#ac_text"+i)
            .transition()
            .duration(1000)
            .style("opacity",1)
            .attr("font-size", 25 * dataset[i]["ac"]+"px");
          }
        };
      };
      flag_visualize = !flag_visualize;
    }
    function visualize_illuminance(){
      var svg2 = d3.select("#svg2")
      if (flag_visualize) {
        d3.select("#btn_visualize").style("color","black");
        for (var i = 0; i < dataset_illuminance.length; i++) {
          svg1.select("#ilu_circle"+i)
          .transition()
          .duration(1000)
          .style("opacity",1)
          .attr("r", 15)
          .attr("fill","blue");
        }
        svg2.transition().duration(1000).style("opacity",0);
      } else {
        d3.select("#btn_visualize").style("color","blue");
        // マップ上の気温色の四角を消去
        svg1.selectAll("#rect_coordinate")
        .transition().duration(1000)
        .style("opacity",0)
        .remove();
        for (var i = 0; i < dataset_illuminance.length; i++) {
          svg1.select("#ilu_circle"+i)
          .transition()
          .duration(1000)
          .style("opacity",0.5)
          .attr("r",150)
          .attr("fill", illuminance_color(dataset_illuminance[i]["ilu"]));
        };
        svg2.transition().duration(1000).style("opacity",1);
      };
      flag_visualize = !flag_visualize;
    }
    function visualize_illuminance_complement(){
      var svg2 = d3.select("#svg2")
      if (flag_visualize) {
        d3.select("#btn_visualize").style("color","black");
        svg2.transition().duration(1000).style("opacity",0);
        // マップ上の照度色の四角を消去
        complement.transition().duration(1000)
        .style("opacity",0)
        .attr({
          "width": 0,
          "height": 0,
          "fill": "white",
        });
      } else {
        d3.select("#btn_visualize").style("color","blue");
        svg2.transition().duration(1000).style("opacity",1);
        // マップ上に照度色の四角を描画
        complement.attr({
          "width": coordinate_width,
          "height": coordinate_width,
        })
        .on( "mouseover", function(d){
            div.transition().duration(300)
            .style("opacity",1).text(d.ilu + " lx ")
            .style("background","blue")
            .style("width", "80px")
            .style("height", "35px")
            .style("left", (d3.event.pageX + 20) + "px")
            .style("top", (d3.event.pageY + 20) + "px")
        })
        .on( "mouseout", function(d){
          div.transition().duration(300)
          .style("opacity",0)
        })
        .transition().duration(1000)
        .style("opacity",0.5)
        .attr({
          "fill": function(d){ return illuminance_color(d.ilu)},
        });
      };
      flag_visualize = !flag_visualize;
    }
    function visualize_heat(){
      var svg2 = d3.select("#svg2")
      if (flag_visualize) {
        d3.select("#btn_visualize").style("color","black");
        // マップ上の気温色の四角を消去
        svg1.selectAll("#rect_coordinate")
        .transition().duration(1000)
        .style("opacity",0)
        .remove();
        svg2.transition().duration(1000).style("opacity",0);
        for (var i = 0; i < dataset.length; i++) {
          svg1.select("#heat_circle"+i)
          .transition()
          .duration(1000)
          .style("opacity",1)
          .attr("r", 15)
          .attr("fill","red");
        }
        svg2.transition().duration(1000).style("opacity",0);
      } else {
        d3.select("#btn_visualize").style("color","blue");
        for (var i = 0; i < dataset.length; i++) {
          svg1.select("#heat_circle"+i)
          .transition()
          .duration(1000)
          .style("opacity",0.5)
          .attr("r",150)
          .attr("fill", thermography(dataset[i]["tu"]));
        };
        svg2.transition().duration(1000).style("opacity",1);
      };
      flag_visualize = !flag_visualize;
    }
    function visualize_heat_complement(){
      var svg2 = d3.select("#svg2")
      if (flag_visualize) {
        d3.select("#btn_visualize").style("color","black");
        svg2.transition().duration(1000).style("opacity",0);
        // マップ上の気温色の四角を消去
        complement.transition().duration(1000)
        .style("opacity",0)
        .attr({
          "width": 0,
          "height": 0,
          "fill": "white",
        });
      } else {
        d3.select("#btn_visualize").style("color","blue");
        svg2.transition().duration(1000).style("opacity",1);
        // マップ上に気温色の四角を描画
        complement.attr({
          "width": coordinate_width,
          "height": coordinate_width,
        })
        .on( "mouseover", function(d){
            div.transition().duration(300)
            .style("opacity",1).text(d.tu + " ℃ ")
            .style("background","red")
            .style("width", "80px")
            .style("height", "35px")
            .style("left", (d3.event.pageX + 20) + "px")
            .style("top", (d3.event.pageY + 20) + "px")
        })
        .on( "mouseout", function(d){
          div.transition().duration(300)
          .style("opacity",0)
        })
        .transition().duration(1000)
        .style("opacity",0.5)
        .attr({
          "fill": function(d){ return thermography(d.tu)},
        });
      };
      flag_visualize = !flag_visualize;
    }

    // 座標目盛りの透明度をトグルで切り替える
    var flag_opacity = false;
    function opacity(){
        if (flag_opacity) {
          d3.select("#btn_opacity").style("color","black");
          svg1.select("#g_coordinate")
              .transition()
              .duration(1000)
              .style("opacity",0);
        } else {
          d3.select("#btn_opacity").style("color","blue");
          svg1.select("#g_coordinate")
              .transition()
              .duration(1000)
              .style("opacity",1);
          };
      flag_opacity = !flag_opacity;
    }

    // 親機表示の透明度をトグルで切り替える
    d3.select("#btn_box").style("color","blue");
    var flag_box = true;
    function box(){
        if (flag_box) {
          d3.select("#btn_box").style("color","black");
          svg1.selectAll("#g_box")
              .transition()
              .duration(1000)
              .style("opacity",0);
        } else {
          d3.select("#btn_box").style("color","blue");
          svg1.selectAll("#g_box")
              .transition()
              .duration(1000)
              .style("opacity",1);
          };
      flag_box = !flag_box;
    }

    // 位置情報リストを別タブで開く
    function open_position_list(){
      window.open("{% url 'cms:position_list' %}","_blank","toolbar=yes,titlebar=yes,status=yes,scrollbars=yes,resizable=yes,menubar=yes,location=yes");
    }

    // 折りたたみ表示
    function show(inputData) {
      var objID=document.getElementById( "layer_" + inputData );
      var buttonID=document.getElementById( "category_" + inputData );
      if (inputData == 1){
        var opentext = "選択";
        var closetext = "選択非表示";
      } else if (inputData == 2){
        var opentext = "最近";
        var closetext = "最近非表示";
      }
      if(objID.className=='close') {
      objID.style.display='block';
      objID.className='open';
      d3.select("#category_"+inputData).text(closetext);
      }else{
      objID.style.display='none';
      objID.className='close';
      d3.select("#category_"+inputData).text(opentext);
    }}

    // 座標目盛り(円)の生成
    svg1.append("g").attr("id","g_coordinate").style("opacity",0);
    svg1.select("#g_coordinate").selectAll("g.coordinate")
    .data(coordinate)
    .enter()
    .append("circle")
    .attr({
      "cx": function(d) { return d.x;},
      "cy": function(d) { return d.y;},
      "r": 3,
      "fill": "purple",
    })
    // マウスがバーに重なったら説明文を出す
    .on( "mouseover", function(d){
      if (flag_opacity){ // 座標可視状態なら説明を出す
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","purple")
        .style("width", "300px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text("x = " + d.x + " , y = " + d.y + " , T = " + d.tu + " , ilu = " + d.ilu)
      }
    })
    // マウスがバーから離れたら説明文をけす
    .on( "mouseout", function(d){
      div.transition().duration(300)
      .style("opacity",0)
    });

    // 視覚化補完用エリアの生成
    svg1.append("g").attr("id","complement_area");
    var complement = svg1.select("#complement_area")
    .selectAll("complement.area")
    .data(coordinate)
    .enter()
    .append("rect")
    .style("opacity",0)
    .attr({
      "x": function(d){ return d.x;},
      "y": function(d){ return d.y;},
      "width": 0,
      "height": 0,
      "fill": "white",
    })

    // マウスオーバーすると出てくる説明文(div要素)
    var div = d3.select("#tooltip_div")
    .attr("class","tooltip")
    .style("width", "80px" )
    .style("height", "35px")
    .style("opacity",0)

    // 親機posデータのマッピング
    var box_list = [];
    box_list.push({pos_x:890,pos_y:190,box_id:6,slist:[]});
    box_list.push({pos_x:710,pos_y:370,box_id:7,slist:[]});
    box_list.push({pos_x:300,pos_y:340,box_id:8,slist:[]});
    box_list.push({pos_x:30,pos_y:440,box_id:9,slist:[]});
    for (var i = 0; i < dataset.length; i++) {
      if (dataset[i]["box_id"] == "9CBD9D010006"){
        box_list[0].slist.push(dataset[i]["device_id"]);
      } else if (dataset[i]["box_id"] == "9CBD9D010007"){
        box_list[1].slist.push(dataset[i]["device_id"]);
      } else if (dataset[i]["box_id"] == "9CBD9D010008"){
        box_list[2].slist.push(dataset[i]["device_id"]);
      } else if (dataset[i]["box_id"] == "9CBD9D010009"){
        box_list[3].slist.push(dataset[i]["device_id"]);
      }
    };
    var g_box = svg1.selectAll("g.box")
    .data(box_list)
    .enter()
    .append("g")
    .attr({
      "id": "g_box",
      transform: function(d) {
        return "translate(" + (d.pos_x - 15) + "," + (d.pos_y - 15) + ")";
      },
    })
    // マウスがバーに重なったら説明文を出す
    .on( "mouseover", function(d){
      if (flag_box){ // 親機可視状態なら説明を出す
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","brown")
        .style("width", "140px")
        .style("height", "60px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text("接続中の子機：　" + d.slist)
        for (var i = 0; i < d.slist.length; i++) {
          svg1.select("#ac_circle"+device_order[d.slist[i]]).attr("fill","red");
          svg1.select("#ilu_circle"+device_order_illuminance[d.slist[i]]).attr("fill","green");
          svg1.select("#heat_circle"+device_order[d.slist[i]]).attr("fill","blue");
        };
      }
    })
    // マウスがバーから離れたら説明文をけす
    .on( "mouseout", function(d){
      div.transition().duration(300)
      .style("opacity",0)
      for (var i = 0; i < d.slist.length; i++) {
        svg1.select("#ac_circle"+device_order[d.slist[i]]).attr("fill","green");
        svg1.select("#ilu_circle"+device_order_illuminance[d.slist[i]]).attr("fill","blue");
        svg1.select("#heat_circle"+device_order[d.slist[i]]).attr("fill","red");
      };
    })
    // 四角の描画
    g_box.append("rect")
    .attr({
      "rx": 5,
      "ry": 5,
      "width": 30,
      "height": 30,
      "fill": "brown",
    });
    // テキストの描画
    g_box.append("text")
    .attr({
      "text-anchor": "middle",
      "dx": 15,
      "dy": 20,
      "fill": "white",
    })
    .text(function(d) {
            return d.box_id;
          });

    // デフォルトは気温マップ
    if ("{{ sensor }}" == "0"){
      acceleration_map();
    } else if ("{{ sensor }}" == "1"){
      illuminance_map();
    } else {
      heat_map();
    }

    // 取得時間を表示
    var year = parseInt({{ year }});
    var month = parseInt({{ month }})-1;
    var day = parseInt({{ day }});
    var hour = parseInt({{ hour }});
    var minute = parseInt({{ minute }});
    var datetime = new Date(year,month,day,hour,minute);
    var Real_datetime;
    set_selectbox(); // セレクトボックスにdatetimeをセット

    function describe_datetime(){
      d3.select("#got_datetime").text(datetime.getFullYear()+"年"+("0"+(datetime.getMonth()+1)).slice(-2)+"月"+("0"+datetime.getDate()).slice(-2)+"日"+" "+("0"+datetime.getHours()).slice(-2)+":"+("0"+datetime.getMinutes()).slice(-2));
    }
    describe_datetime();
  </script>
  {% endblock content %}
