
{% extends "base.html" %}

{% block title %}センサーグラフ{% endblock title %}

{% block extrahead %}
<style>
  .axis path,
  .axis line {
   fill: none;
   stroke: black;
   shape-rendering: crispEdges;
 }

 .axis text {
   font-family: sans-serif;
   font-size: 11px;
 }

 /* 説明窓(div要素)の設定 */
 div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 8px;
  font: 15px sans-serif;
  font-weight: bold; /*太字*/
  color: white; /*文字の色*/
  background: red;
  /*border: solid 1px #aaa;*/
  border-radius: 8px;
  pointer-events: none;
}
</style>
{% endblock %}

{% block content %}
<h3 id="header" class="page-header"></h3>
<form name="Sample_form" action="Sample.html">
  取得日時：
  <select name="textbox_year">
    <option id="year2014" value="2014"/>2014</option>
    <option id="year2015" value="2015"/>2015</option>
  </select>
  年
  <select name="textbox_month">
    <option id="month01" value="01"/>1</option>
    <option id="month02" value="02"/>2</option>
    <option id="month03" value="03"/>3</option>
    <option id="month04" value="04"/>4</option>
    <option id="month05" value="05"/>5</option>
    <option id="month06" value="06"/>6</option>
    <option id="month07" value="07"/>7</option>
    <option id="month08" value="08"/>8</option>
    <option id="month09" value="09"/>9</option>
    <option id="month10" value="10"/>10</option>
    <option id="month11" value="11"/>11</option>
    <option id="month12" value="12"/>12</option>
  </select>
  月
  <select name="textbox_day">
    <option id="day01" value="01"/>1</option>
    <option id="day02" value="02"/>2</option>
    <option id="day03" value="03"/>3</option>
    <option id="day04" value="04"/>4</option>
    <option id="day05" value="05"/>5</option>
    <option id="day06" value="06"/>6</option>
    <option id="day07" value="07"/>7</option>
    <option id="day08" value="08"/>8</option>
    <option id="day09" value="09"/>9</option>
    <option id="day10" value="10"/>10</option>
    <option id="day11" value="11"/>11</option>
    <option id="day12" value="12"/>12</option>
    <option id="day13" value="13"/>13</option>
    <option id="day14" value="14"/>14</option>
    <option id="day15" value="15"/>15</option>
    <option id="day16" value="16"/>16</option>
    <option id="day17" value="17"/>17</option>
    <option id="day18" value="18"/>18</option>
    <option id="day19" value="19"/>19</option>
    <option id="day20" value="20"/>20</option>
    <option id="day21" value="21"/>21</option>
    <option id="day22" value="22"/>22</option>
    <option id="day23" value="23"/>23</option>
    <option id="day24" value="24"/>24</option>
    <option id="day25" value="25"/>25</option>
    <option id="day26" value="26"/>26</option>
    <option id="day27" value="27"/>27</option>
    <option id="day28" value="28"/>28</option>
    <option id="day29" value="29"/>29</option>
    <option id="day30" value="30"/>30</option>
    <option id="day31" value="31"/>31</option>
  </select>
  日
  <select name="textbox_hour">
    <option id="hour00" value="00"/>0</option>
    <option id="hour01" value="01"/>1</option>
    <option id="hour02" value="02"/>2</option>
    <option id="hour03" value="03"/>3</option>
    <option id="hour04" value="04"/>4</option>
    <option id="hour05" value="05"/>5</option>
    <option id="hour06" value="06"/>6</option>
    <option id="hour07" value="07"/>7</option>
    <option id="hour08" value="08"/>8</option>
    <option id="hour09" value="09"/>9</option>
    <option id="hour10" value="10"/>10</option>
    <option id="hour11" value="11"/>11</option>
    <option id="hour12" value="12"/>12</option>
    <option id="hour13" value="13"/>13</option>
    <option id="hour14" value="14"/>14</option>
    <option id="hour15" value="15"/>15</option>
    <option id="hour16" value="16"/>16</option>
    <option id="hour17" value="17"/>17</option>
    <option id="hour18" value="18"/>18</option>
    <option id="hour19" value="19"/>19</option>
    <option id="hour20" value="20"/>20</option>
    <option id="hour21" value="21"/>21</option>
    <option id="hour22" value="22"/>22</option>
    <option id="hour23" value="23"/>23</option>
  </select>
  時
  <select name="textbox_minute">
    <option id="minute00" value="00"/>0</option>
    <option id="minute05" value="05"/>5</option>
    <option id="minute10" value="10"/>10</option>
    <option id="minute15" value="15"/>15</option>
    <option id="minute20" value="20"/>20</option>
    <option id="minute25" value="25"/>25</option>
    <option id="minute30" value="30"/>30</option>
    <option id="minute35" value="35"/>35</option>
    <option id="minute40" value="40"/>40</option>
    <option id="minute45" value="45"/>45</option>
    <option id="minute50" value="50"/>50</option>
    <option id="minute55" value="55"/>55</option>
  </select>
  分
  <input type="button" value="更新" onclick="reload_datetime()" class="btn btn-default btn-sm">
  <br>
  <text id="id2">表示日数：</text>
  <a id="one_day" onclick="one_day()" class="btn btn-default btn-sm">1日</a>
  <a id="two_days" onclick="two_days()" class="btn btn-default btn-sm">2日</a>
  <a id="three_days" onclick="three_days()" class="btn btn-default btn-sm">3日</a>
      <!-- a id="one_week" onclick="one_week()" class="btn btn-default btn-sm">1週間</a>
      <a id="two_weeks" onclick="two_weeks()" class="btn btn-default btn-sm">2週間</a>
      <a id="one_month" onclick="one_month()" class="btn btn-default btn-sm">1ヶ月</a>
      <a id="two_months" onclick="two_months()" class="btn btn-default btn-sm">2ヶ月</a> -->
      <br>
      <text id="id3">ツール：</text>
      <a id="judge_button" onclick="judge_waste_of_energy()" class="btn btn-default btn-sm">判定</a>
      <br>
      <text id="log"></text>
    </form>
    <svg id="svg1" width="1024" height="280"></svg>
    <svg id="svg2" width="1024" height="280"></svg>
    <div id="tooltip_div"></div>
    <script type="text/javascript">

    //  センサーデータセット
    var t1 = [];
    var t2 = [];
    var t3 = [];
    var t4 = [];
    var dataset = [];
    if("{{ sensor }}" == "ai"){ // 加速度+照度グラフ
      {% for s in t1 %}
      if(("{{ s.ac }}"!="None")&&("{{ s.ilu }}"!="None")){
        t1.push({ac:{{ s.ac }},ilu:{{ s.ilu }},datetime:"{{ s.datetime }}"});
      }
      {% endfor %}
      {% for s in t2 %}
      if(("{{ s.ac }}"!="None")&&("{{ s.ilu }}"!="None")){
        t2.push({ac:{{ s.ac }},ilu:{{ s.ilu }},datetime:"{{ s.datetime }}"});
      }
      {% endfor %}
      {% for s in t3 %}
      if(("{{ s.ac }}"!="None")&&("{{ s.ilu }}"!="None")){
        t3.push({ac:{{ s.ac }},ilu:{{ s.ilu }},datetime:"{{ s.datetime }}"});
      }
      {% endfor %}
    } else if("{{ sensor }}" == "ri"){ // rssi+照度グラフ
      {% for s in t1 %}
      if(("{{ s.rssi }}"!="None")&&("{{ s.ilu }}"!="None")){
        t1.push({rssi:{{ s.rssi }},ilu:{{ s.ilu }},datetime:"{{ s.datetime }}"});
      }
      {% endfor %}
      {% for s in t2 %}
      if(("{{ s.rssi }}"!="None")&&("{{ s.ilu }}"!="None")){
        t2.push({rssi:{{ s.rssi }},ilu:{{ s.ilu }},datetime:"{{ s.datetime }}"});
      }
      {% endfor %}
      {% for s in t3 %}
      if(("{{ s.rssi }}"!="None")&&("{{ s.ilu }}"!="None")){
        t3.push({rssi:{{ s.rssi }},ilu:{{ s.ilu }},datetime:"{{ s.datetime }}"});
      }
      {% endfor %}
    } 
    

    // 一日分のデータを表示
    function one_day(){
      button_color("#one_day");
      dataset = t1;
      xyScale_Set();
      remove_objects();
      if ("{{ sensor }}" == "ai"){
        change_acceleration_graph(1);
        change_illuminance_graph(2);
      }
      if ("{{ sensor }}" == "ri"){
        change_rssi_graph(1);
        change_illuminance_graph(2);
      }
    }
    // 二日分のデータを表示
    function two_days(){
      button_color("#two_days");
      dataset = t1.concat(t2);
      xyScale_Set();
      remove_objects();
      if ("{{ sensor }}" == "ai"){
        change_acceleration_graph(1);
        change_illuminance_graph(2);
      }
      if ("{{ sensor }}" == "ri"){
        change_rssi_graph(1);
        change_illuminance_graph(2);
      }
    }
    // 三日分のデータを表示
    function three_days(){
      button_color("#three_days");
      dataset = t1.concat(t2).concat(t3);
      xyScale_Set();
      remove_objects();
      if ("{{ sensor }}" == "ai"){
        change_acceleration_graph(1);
        change_illuminance_graph(2);
      }
      if ("{{ sensor }}" == "ri"){
        change_rssi_graph(1);
        change_illuminance_graph(2);
      }
    }
    // // 一週間分のデータを表示
    // function one_week(){
    //   button_color("#one_week");
    //   get_data("7");
    // }
    // // 二週間分のデータを表示
    // function two_weeks(){
    //   button_color("#two_weeks");
    //   get_data("14");
    // }
    // // 一ヶ月分のデータを表示
    // function one_month(){
    //   button_color("#one_month");
    //   get_data("30");
    // }
    // // 二ヶ月分のデータを表示
    // function two_months(){
    //   button_color("#two_months");
    //   get_data("61");
    // }

    // ajaxでデータを取得
    function get_data(limit){
      var d = zero_padding_dt(datetime);
      var url = "{% url 'cms:sensor_graph_json' %}"+"limit=" + limit + "/datetime=" + d.year + d.month + d.date + d.hour + d.minute + "/type=" + "{{ sensor }}" + "{{ device_id }}";
      $.ajax({
        type: 'GET',
        url: url,
        dataType: 'json',
        success: function(json){
          push_json(json);
          xyScale_Set();
          remove_objects();
          if ("{{ sensor }}" == "0"){
            change_acceleration_graph();
          } else if ("{{ sensor }}" == "ai"){
            change_illuminance_graph();
          } else {
            change_heat_graph();
          }
        }
      });
    }

    // jsonデータをデータセットに追加
    function push_json(json){
      if("{{ sensor }}" == "0"){ // 加速度グラフ
        for (var i = 0; i < json.length; i++) {
          if(json[i].ac!=null){
            t4.push({ac:parseInt(json[i].ac),datetime:json[i].datetime});
          }
        };
      } else if ("{{ sensor }}" == "ai"){ // 照度グラフ
        for (var i = 0; i < json.length; i++) {
          if(json[i].ilu!=null){
            t4.push({ilu:parseInt(json[i].ilu),datetime:json[i].datetime});
          }
        };
      } else { // 気温グラフ
        for (var i = 0; i < json.length; i++) {
          if(json[i].tu!=null){
            t4.push({tu:parseInt(json[i].tu),datetime:json[i].datetime});
          }
        };
      }
      dataset = t1.concat(t2).concat(t3).concat(t4);
    }

    // ボタンに色付け
    function button_color(id){
      d3.select("#one_day").style("color","black");
      d3.select("#two_days").style("color","black");
      d3.select("#three_days").style("color","black");
      d3.select("#one_week").style("color","black");
      d3.select("#two_weeks").style("color","black");
      d3.select("#one_month").style("color","black");
      d3.select("#two_months").style("color","black");
      d3.select(id).style("color","blue");
    }

    // 現在のグラフを除去
    function remove_objects(){
      acceleration_rect.transition().duration(1000)
      .attr({
        "x": function(d){ return xScale(parseDate(d.datetime));},
      })
      .remove();
      illuminance_circle.transition().duration(1000)
      .attr({
        "cx": function(d){ return xScale(parseDate(d.datetime));},
      })
      .remove();
      svg1.selectAll("g").remove();
      svg2.selectAll("g").remove();
    }

    // 初期表示日数
    button_color("#two_days");
    dataset = t1.concat(t2);
    

    // d3.select("body").append("p").text(dataset.length);
    // d3.select("body").append("p").text(dataset.length);

    var parseDate = d3.time.format("%Y年%m月%d日%H:%M:%S").parse;

    // svgの選択
    var svg1 = d3.select("#svg1");
    var svg2 = d3.select("#svg2");

    // 幅（Width）と高さ（ height）
    var w = 1024;
    var h = 280;
    var padding = 30;

    
    // 定義域と値域の設定関数
    function xyScale_Set(){

      // x軸の定義域
      xScale = d3.time.scale()
      .domain(d3.extent(dataset, function (d) {
        return parseDate(d.datetime);
      }))
      .range([padding*2, w - padding *2]);

      // y軸の定義域
      var t = t1.concat(t2).concat(t3);
      yScale = d3.scale.linear()
      .domain([d3.min(t, function(d) {
        return d.ilu;
      }),d3.max(t, function(d) {
        return d.ilu;
      })])
      .range([h - padding, padding]);
      acScale = d3.scale.linear()
      .domain([0,10])
      .range([h - padding, padding]);
      rssiScale = d3.scale.linear()
      .domain([-90,0])
      .range([h - padding, padding]);
      iluScale = d3.scale.linear()
      .domain([d3.min(t, function(d) {
        return d.ilu;
      }),d3.max(t, function(d) {
        return d.ilu;
      })])
      .range([h - padding, padding]);
      
      // x軸の定義
      xAxis = d3.svg.axis()
      .scale(xScale)
      .orient("bottom")
                    .ticks(5);  // 大雑把に目盛りの個数を設定

      // y軸の定義
      yAxis = d3.svg.axis()
      .scale(yScale)
      .orient("left")
                    .ticks(5);  // 大雑把に目盛りの個数を設定
                    acAxis = d3.svg.axis()
                    .scale(acScale)
                    .orient("left")
                    .ticks(5);  // 大雑把に目盛りの個数を設定
                    rssiAxis = d3.svg.axis()
                    .scale(rssiScale)
                    .orient("left")
                    .ticks(5);  // 大雑把に目盛りの個数を設定
                    iluAxis = d3.svg.axis()
                    .scale(iluScale)
                    .orient("left")
                    .ticks(5);  // 大雑把に目盛りの個数を設定
                  }
                  xyScale_Set();

    // ヘッダーの入力
    if ("{{ sensor }}" == "ai"){
      d3.select("#header").text("加速度＋照度変化グラフ sensor "+parseInt("{{ device_id }}".slice(-2)));
    } else if ("{{ sensor }}" == "ri"){
      d3.select("#header").text("RSSI＋照度変化グラフ sensor "+parseInt("{{ device_id }}".slice(-2)));
    }
    // マウスオーバーすると出てくる説明文(div要素)
    var div = d3.select("#tooltip_div")
    .attr("class","tooltip")
    .style("width", "80px" )
    .style("height", "35px")
    .style("opacity",0)

    //ドラッグ時のイベントをセット
    drag = d3.behavior.drag()
     .on("drag", function(d,i) { // ドラッグ中
      d.x += d3.event.dx;
      d.y += d3.event.dy;
      d3.select(this)
      .attr("transform", function(d,i){
        return "translate(" + [ d.x,d.y ] + ")";
      })
      .transition().duration(50)
      .attr("r",15);
    })
     .on("dragend", function(d){ // ドラッグ終了時
      d.x = 0;
      d.y = 0;
      d3.select(this)
      .transition().duration(500)
      .attr({
        "transform": "translate(0,0)",
      })
      .transition().duration(400)
      .style("opacity",0)
      .attr({
        "r": 150,
      })
      .remove()
    });   


    // 気温に対応した色を返す(サーモグラフィ風)
    function thermography(tu){
      threshold_H = 29.4; // この温度以上は赤色
      threshold_L = 17.8; // この温度以下は青色
      if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 4.0 / 4.0 ) ) {
        return  "rgb(" + 255 + ", " + 0 + ", " + 0 + ")"; // 赤
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 3.0 / 4.0 ) ) {
        return  "rgb(" + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 0 + ")"; // 黄～赤
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 2.0 / 4.0 ) ) {
        return  "rgb(" + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ", " + 0 + ")"; // 緑～黄  
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 1.0 / 4.0 ) ) {
        return  "rgb(" + 0 + ", " + 255 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ")"; // 水～緑
      } else if ( (tu - threshold_L)/(threshold_H - threshold_L) >= ( 0.0 / 4.0 ) ) {
        return  "rgb(" + 0 + ", " + (Math.round( ( -(Math.cos( 4 * Math.PI * (tu - threshold_L)/(threshold_H - threshold_L) )) / 2 + 0.5 ) * 255 )) + ", " + 255 + ")"; // 青～水
      }else {
        return  "rgb(" + 0 + ", " + 0 + ", " + 255 + ")"; // 青
      }
    }

    // 照度に対応した色を返す(青←→黃)
    function illuminance_color(ilu){
      var threshold = 700; // 700lx以上は明るいとみなす
      if (ilu > threshold) {
        return  "rgb(" + 255 + ", " + 255 + ", " + 0 + ")";
      } else {
        return  "rgb(" + Math.round((255/threshold)*ilu) + ", " + Math.round((255/threshold)*ilu) + ", " + Math.round((255/threshold)*(1000 - ilu)) + ")";
      }
    }

    animation = 1500; // アニメーションにかける時間[ms]
    // 加速度グラフの描画
    function acceleration_graph(n){
      if (n == 1) {
        acceleration_rect = svg1.selectAll("rect.acceleration")
        .data(dataset)
        .enter()
        .append("rect")
      } else if (n == 2){
        acceleration_rect = svg2.selectAll("rect.acceleration")
        .data(dataset)
        .enter()
        .append("rect")
      };
      acceleration_rect.attr({
        "x": function(d){ return xScale(parseDate(d.datetime));},
        "y": h - padding,
        "width": (w - padding*4)/dataset.length,
        "height": 0,
        "fill": "green",
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        d3.select(this)
        .attr({
          "fill":"rgb(0,255,0)",
        });
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","green")
        .style("width", "260px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text(d.ac + " m/s²　" + d.datetime.slice(5))
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        d3.select(this)
        .attr({
          "fill":"green",
        });
        div.transition().duration(300)
        .style("opacity",0)
      })
      .transition().duration(function(d,i){ return i*animation/dataset.length;})
      .attr({
        "y": function(d){ return acScale(d.ac);},
        "height": function(d){ return (h - padding) - acScale(d.ac);},
      });
      generate_axis();
    }
    function change_acceleration_graph(n){
      if (n == 1) {
        acceleration_rect = svg1.selectAll("rect.acceleration")
        .data(dataset)
        .enter()
        .append("rect")
      } else if (n == 2){
        acceleration_rect = svg2.selectAll("rect.acceleration")
        .data(dataset)
        .enter()
        .append("rect")
      };
      acceleration_rect.attr({
        "x": function(d){ return xScale(parseDate(d.datetime));},
        "y": function(d){ return acScale(d.ac);},
        "width": (w - padding*4)/dataset.length,
        "height": function(d){ return (h - padding) - acScale(d.ac);},
        "fill": "green",
      })
      .style("opacity",0)
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        d3.select(this)
        .attr({
          "fill":"rgb(0,255,0)",
        });
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","green")
        .style("width", "260px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text(d.ac + " m/s²　" + d.datetime.slice(5))
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        d3.select(this)
        .attr({
          "fill":"green",
        });
        div.transition().duration(300)
        .style("opacity",0)
      })
      .transition().delay(800)
      .style("opacity",1);
      generate_axis();
    }
    // rssiグラフの描画
    function rssi_graph(n){
      if (n == 1) {
        rssi_rect = svg1.selectAll("rect.rssi")
        .data(dataset)
        .enter()
        .append("rect")
      } else if (n == 2){
        rssi_rect = svg2.selectAll("rect.rssi")
        .data(dataset)
        .enter()
        .append("rect")
      };
      rssi_rect.attr({
        "x": function(d){ return xScale(parseDate(d.datetime));},
        "y": h - padding,
        "width": (w - padding*4)/dataset.length,
        "height": 0,
        "fill": "purple",
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        d3.select(this)
        .attr({
          "fill":"rgb(0,255,0)",
        });
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","purple")
        .style("width", "260px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text(d.rssi + " dB　" + d.datetime.slice(5))
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        d3.select(this)
        .attr({
          "fill":"purple",
        });
        div.transition().duration(300)
        .style("opacity",0)
      })
      .transition().duration(function(d,i){ return i*animation/dataset.length;})
      .attr({
        "y": function(d){ return rssiScale(d.rssi);},
        "height": function(d){ return (h - padding) - rssiScale(d.rssi);},
      });
      generate_axis();
    }
    function change_rssi_graph(n){
      if (n == 1) {
        rssi_rect = svg1.selectAll("rect.rssi")
        .data(dataset)
        .enter()
        .append("rect")
      } else if (n == 2){
        rssi_rect = svg2.selectAll("rect.rssi")
        .data(dataset)
        .enter()
        .append("rect")
      };
      rssi_rect.attr({
        "x": function(d){ return xScale(parseDate(d.datetime));},
        "y": function(d){ return rssiScale(d.rssi);},
        "width": (w - padding*4)/dataset.length,
        "height": function(d){ return (h - padding) - rssiScale(d.rssi);},
        "fill": "green",
      })
      .style("opacity",0)
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        d3.select(this)
        .attr({
          "fill":"rgb(0,255,0)",
        });
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","purple")
        .style("width", "260px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text(d.rssi + " dB　" + d.datetime.slice(5))
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        d3.select(this)
        .attr({
          "fill":"green",
        });
        div.transition().duration(300)
        .style("opacity",0)
      })
      .transition().delay(800)
      .style("opacity",1);
      generate_axis();
    }
    // 照度グラフの描画
    function illuminance_graph(n){
      if (n == 1) {
        illuminance_circle = svg1.selectAll("circle.illuminance")
        .data(dataset)
        .enter()
        .append("circle")
      } else if (n == 2){
        illuminance_circle = svg2.selectAll("circle.illuminance")
        .data(dataset)
        .enter()
        .append("circle")
      };
      illuminance_circle.attr({
        "cx": function(d){ return xScale(parseDate(d.datetime));},
        "cy": iluScale(0),
        "r": 8,
        "fill": function(d){ return illuminance_color(d.ilu);},
      })
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","blue")
        .style("width", "260px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text(d.ilu + " lx　" + d.datetime.slice(5))
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        div.transition().duration(300)
        .style("opacity",0)
      })
      .transition().duration(function(d,i){ return i*animation/dataset.length;})
      .attr({
        "cy": function(d){ return iluScale(d.ilu);},
      });
      generate_axis();
    }
    function change_illuminance_graph(n){
      if (n == 1) {
        illuminance_circle = svg1.selectAll("circle.illuminance")
        .data(dataset)
        .enter()
        .append("circle")
      } else if (n == 2){
        illuminance_circle = svg2.selectAll("circle.illuminance")
        .data(dataset)
        .enter()
        .append("circle")
      };
      illuminance_circle.attr({
        "cx": function(d){ return xScale(parseDate(d.datetime));},
        "cy": function(d){ return iluScale(d.ilu);},
        "r": 8,
        "fill": function(d){ return illuminance_color(d.ilu);},
      })
      .style("opacity",0)
      // マウスがバーに重なったら説明文を出す
      .on( "mouseover", function(d){
        div.transition().duration(300)
        .style("opacity",1)
        .style("background","blue")
        .style("width", "260px" )
        .style("height", "35px")
        .style("left", (d3.event.pageX + 20) + "px")
        .style("top", (d3.event.pageY + 20) + "px")
        .text(d.ilu + " lx　" + d.datetime.slice(5))
      })
      // マウスがバーから離れたら説明文をけす
      .on( "mouseout", function(d){
        div.transition().duration(300)
        .style("opacity",0)
      })
      .transition().delay(800)
      .style("opacity",1);
      generate_axis();
    }

    // // 気温グラフの描画
    // function heat_graph(){
    //   heat_circle = svg1.selectAll("circle.temperature")
    //   .data(dataset)
    //   .enter()
    //   .append("circle")
    //   heat_circle.attr({
    //     "cx": function(d){ return xScale(parseDate(d.datetime));},
    //     "cy": yScale(0),
    //     "r": 8,
    //     "fill": function(d){ return thermography(d.tu);},
    //   })
    //   // マウスがバーに重なったら説明文を出す
    //   .on( "mouseover", function(d){
    //     div.transition().duration(300)
    //       .style("opacity",1)
    //       .style("background","red")
    //       .style("width", "260px" )
    //       .style("height", "35px")
    //       .style("left", (d3.event.pageX + 20) + "px")
    //       .style("top", (d3.event.pageY + 20) + "px")
    //       .text(d.tu + " ℃　" + d.datetime.slice(5))
    //   })
    //   // マウスがバーから離れたら説明文をけす
    //   .on( "mouseout", function(d){
    //     div.transition().duration(300)
    //     .style("opacity",0)
    //   })
    //   .transition().duration(function(d,i){ return i*3;})
    //   .attr({
    //     "cy": function(d){ return yScale(d.tu);},
    //   });
    //   generate_axis();
    // }
    // function change_heat_graph(){
    //   heat_circle = svg1.selectAll("circle.temperature")
    //   .data(dataset)
    //   .enter()
    //   .append("circle")
    //   heat_circle.attr({
    //     "cx": function(d){ return xScale(parseDate(d.datetime));},
    //     "cy": function(d){ return yScale(d.tu);},
    //     "r": 8,
    //     "fill": function(d){ return thermography(d.tu);},
    //   })
    //   .style("opacity",0)
    //   // マウスがバーに重なったら説明文を出す
    //   .on( "mouseover", function(d){
    //     div.transition().duration(300)
    //       .style("opacity",1)
    //       .style("background","red")
    //       .style("width", "260px" )
    //       .style("height", "35px")
    //       .style("left", (d3.event.pageX + 20) + "px")
    //       .style("top", (d3.event.pageY + 20) + "px")
    //       .text(d.tu + " ℃　" + d.datetime.slice(5))
    //   })
    //   // マウスがバーから離れたら説明文をけす
    //   .on( "mouseout", function(d){
    //     div.transition().duration(300)
    //     .style("opacity",0)
    //   })
    //   .transition().delay(800)
    //   .style("opacity",1);
    //   generate_axis();
    // }

    // 描画グラフの選択と実行
    if ("{{ sensor }}" == "ai"){
      acceleration_graph(1);
      illuminance_graph(2);
    } else if ("{{ sensor }}" == "ri"){
      rssi_graph(1);
      illuminance_graph(2);
    }

    // xy軸の生成
    function generate_axis(){
      if ("{{ sensor }}" == "ai"){
        yAxis1 = acAxis;
        yAxis2 = iluAxis;
      } else if ("{{ sensor }}" == "ri"){
        yAxis1 = rssiAxis;
        yAxis2 = iluAxis;
      }
      // svg1
      // x軸の生成
      svg1.append("g")
        .attr("class", "x axis")  // "axis" クラスを定義
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);
      // y軸の生成
      svg1.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(" + padding*2 + ",0)")
      .call(yAxis1);
      // svg2
      // x軸の生成
      svg2.append("g")
        .attr("class", "x axis")  // "axis" クラスを定義
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);
      // y軸の生成
      svg2.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(" + padding*2 + ",0)")
      .call(yAxis2);
    }

    // 電気つけっぱなし判定
    function judge_waste_of_energy(){
      d3.select("#log").append("p").text("判定開始");
      dataset = t1.concat(t2,t3);
      d3.select("#log").append("p").text("datasetの長さ = "+dataset.length);

      // 環境に合わせて変化させる値
      ilu_threshold = 400 // 照明がONであるとみなす照度のしきい値[lx]
      ac_threshold = 1 // 扉が開いたとみなす加速度のしきい値
      time_threshold = 120 // 電気つけっぱなしとみなす時間[分]
      data_interval = 1 // データ取得間隔[分]

      count = 0;
      flag_waste_of_energy = false;
      for (var i = 0; i < dataset.length; i++) {
        // 一定以上明るいかつ扉の開閉がない場合
        if ((dataset[i].ac < ac_threshold)&&(dataset[i].ilu > ilu_threshold)) {
          count += 1;
          if (count == 1) {
            tmp_datetime = dataset[i].datetime;
          };
          // 一定時間以上状態が続いている場合
          if ((flag_waste_of_energy == false)&&(count >= (time_threshold/data_interval))) {
            flag_waste_of_energy = true;
          };
        } else {
          if (flag_waste_of_energy) {
            d3.select("#log").append("p").text((count*data_interval)+"分間 電気つけっぱなし検出 "+tmp_datetime);
            flag_waste_of_energy = false;
          };
          count = 0;
        };
      };
      if (flag_waste_of_energy) {
        d3.select("#log").append("p").text((count*data_interval)+"分間 電気つけっぱなし検出 "+tmp_datetime);
      }
      d3.select("#log").append("p").text("判定終了");
    }

    function reload_datetime(){
      var limit = 500;
      var year = Sample_form.textbox_year.value;
      var month = Sample_form.textbox_month.value;
      var day = Sample_form.textbox_day.value;
      var hour = Sample_form.textbox_hour.value;
      var minute = Sample_form.textbox_minute.value;
      document.location = "{% url 'cms:sensor_graph2' %}"+"limit=" + limit 
      + "/datetime=" + year + month + day + hour + minute + "/type=" + "{{ sensor }}" + "{{ device_id }}";
    }
    
    // // 更新前の選択状態を記憶
    // d3.select("#year"+"{{ year }}").attr("selected",true);
    // d3.select("#month"+"{{ month }}").attr("selected",true);
    // d3.select("#day"+"{{ day }}").attr("selected",true);
    // d3.select("#hour"+"{{ hour }}").attr("selected",true);
    // d3.select("#minute"+"{{ minute }}").attr("selected",true);

    // セレクトボックスの値をdatetimeに合わせる
    function set_selectbox(){
      var year = datetime.getFullYear() - 2014;
      var minute = datetime.getMinutes()/5;
      document.Sample_form.textbox_year.selectedIndex = year;
      document.Sample_form.textbox_month.selectedIndex = datetime.getMonth();
      document.Sample_form.textbox_day.selectedIndex = datetime.getDate()-1;
      document.Sample_form.textbox_hour.selectedIndex = datetime.getHours();
      document.Sample_form.textbox_minute.selectedIndex = minute;
    }

    // datatimeをゼロ埋め
    function zero_padding_dt(datetime){
      var year = String(datetime.getFullYear());
      var month = ("0"+(datetime.getMonth()+1)).slice(-2);
      var date = ("0"+datetime.getDate()).slice(-2);
      var hour = ("0"+datetime.getHours()).slice(-2);
      var minute = ("0"+datetime.getMinutes()).slice(-2);
      var dt = {year:year,month:month,date:date,hour:hour,minute:minute};
      return dt;
    }

    // 取得時間を表示
    var year = parseInt({{ year }});
    var month = parseInt({{ month }})-1;
    var day = parseInt({{ day }});
    var hour = parseInt({{ hour }});
    var minute = parseInt({{ minute }});
    var datetime = new Date(year,month,day,hour,minute);
    set_selectbox(); // セレクトボックスにdatetimeをセット

    // aaa


  </script>
  {% endblock content %}




